[2017-03-03 23:26] jeevatkm opened #1 "Package Versioning"
Implement Package versioning for all aah framework library/modules and use versioned packages.
*  [x] aahframework.org/aah.v0
*  [x] aahframework.org/log.v0
*  [x] aahframework.org/config.v0
*  [x] aahframework.org/essestials.v0
*  [x] aahframework.org/test.v0
*  [x] aahframework.org/pool.v0
*  [x] aahframework.org/forge.v0

[2017-03-06 09:03] jeevatkm opened #2 "Extract submodule as separate libraries"
- [x] ahttp - aahframework.org/ahttp
- [x] aruntime - aahframework.org/aruntime
- [x] atemplate - aahframework.org/atemplate
- [x] i18n - aahframework.org/i18n
- [x] router - aahframework.org/router

[2017-03-07 18:26] jeevatkm commented on #2
Done

[2017-03-07 18:45] jeevatkm commented on #1
Done

[2017-03-08 07:48] jeevatkm opened #3 "Develop and Deploy - aahframework.org, docs.aahframework.org"
- [x] Develop website using aah framework
- [x] Create extensible documentation structure for docs.aahframework.org
     - Format: Markdown
     - Multiple Version of docs

[2017-03-08 08:02] jeevatkm opened #4 "Hot-Reload for Development"
Goal is to provide `hot-reload` capabilities for development, so that it helps developer to have fun development.

#### What is Hot-Reload?
To reflect changes made in Static Files (js, css), View template file and Go Source Code without manual intervention (i.e. manually stopping server and starting the aah server). Instead aah CLI will do monitoring/watch on aah project and does automatic stop, c

[2017-03-09 01:18] #2 closed

[2017-03-09 01:18] #1 closed

[2017-03-09 06:13] jeevatkm opened #6 "Controllers Namespace or Sub Package support"
Note: currently framework supports multiple sub packages with in controllers package. However it has limitations.

   * You cannot register controller with package into routes.conf
   * Controller Name must be unique even though it reside in sub packages

[2017-03-10 01:34] jeevatkm opened #7 "List config value is not returned when profile is enabled"
List config value is not returned when profile is enabled. Scenario - config profile is enabled and given list key not exists in within `env { ... }`, however present outside block.

[code]

[2017-03-13 03:04] jeevatkm commented on #7
v0.3 - aahframework.org/config.v0 released.

[2017-03-13 03:05] #7 closed

[2017-03-18 17:28] jeevatkm opened #8 "Add Redirect support to Reply"

[2017-03-18 17:29] jeevatkm opened #9 "Add Abort support for middleware, action and intercepters"

[2017-03-18 17:36] #8 closed

[2017-03-18 17:36] #9 closed

[2017-03-21 19:11] jeevatkm opened #10 "Expose Request & Response Lifecycle as server extensions (event)"
* `OnRequest`
* `OnPreReply`

Hint:
`OnPreAuth` and `OnPostAuth` in the future.

[2017-03-21 20:05] jeevatkm opened #11 "Differentiate Context and Controller scope, use appropriately"
Goal is to differentiate the controller and context implementation appropriately. So that -
* Server extensions via events
* Middleware

Scope and role becomes clear for user and good for framework future.

[2017-03-21 22:33] #11 closed

[2017-03-21 22:35] jeevatkm commented on #6
Now `aah` supports controller registeration in `routes.conf` with namespace and without. However it is recommended to choose one approach and stick to it for performance improvement.

[2017-03-21 22:35] #6 closed

[2017-03-22 00:31] jeevatkm opened #12 "Add Event Publisher/Emitter"
Add Event Emitter and begin with following Server Events:
* `OnInit`
* `OnStart`
* `OnShutdown`

[2017-03-24 03:59] jeevatkm commented on #12
`OnInit` and `OnStart` is completed.

`OnShutdown` is postponed for now. since `SIG*` implementation is not yet done.

[2017-03-24 04:09] jeevatkm opened #13 "add Cookie into Reply interface"
* Cookie

[2017-03-24 16:35] #12 closed

[2017-03-24 16:35] #10 closed

[2017-03-25 00:42] jeevatkm opened #15 "Expose Server properties as configuration"
* Keep Alive
* Max Header bytes size

[2017-03-25 18:28] #15 closed

[2017-03-27 00:58] jeevatkm opened #16 "Gzip support for response"

[2017-03-27 00:58] jeevatkm opened #17 "Make object Pool size value configurable from aah.conf"
[code]

[2017-03-27 17:55] jeevatkm opened #18 "Support Multiple HTTP methods in router config for `method`."
Add support for multiple methods in attribute `method` on routes:
[code]

[2017-03-27 18:24] #18 closed

[2017-03-27 18:24] #13 closed

[2017-03-28 16:42] jeevatkm opened #19 "Add support for http.Handler and http.HanderFunc into aah Middleware"
Expands the possibilities.

[code]

 It helps Golang community to convert the third-party or their own net/http middleware into aah framework

[2017-03-28 17:23] jeevatkm commented on #16
Done

[2017-03-28 17:23] #16 closed

[2017-03-28 17:26] jeevatkm commented on #19
Done

[2017-03-28 17:26] #19 closed

[2017-03-29 17:42] jeevatkm opened #20 "Session and Session Store"
* Session
* Session store - cookie and file
* Extensible store interface

[2017-03-30 07:44] jeevatkm opened #21 "Implement Unique Request ID for incoming request"

[2017-04-01 04:33] #21 closed

[2017-04-03 02:15] #17 closed

[2017-04-05 01:03] jeevatkm opened #22 "TestSuites for integration and functional test case."

[2017-04-05 19:35] jeevatkm opened #23 "Listen Syscall for server shutdown, publish shutdown event, graceful shutdown"
Implement:
* [x] Listen to `os.Interrupt`, `syscall.SIGTERM`
* [x] Add `OnShutdown` event
* [x] Publish `OnShutdown` event
* [x] Graceful shutdown support for go1.8 and above. Timeout option `server.timeout.grace_shutdown`
* [x] Stop application normally with exit code 0

[2017-04-06 00:50] jeevatkm commented on #23
Done

[2017-04-06 00:50] #23 closed

[2017-04-07 22:11] jeevatkm opened #24 "Use host and port from aah.conf for routes"
Currently routes has it own host and port no for domain and sub-domain.
- [ ] Use host and port from aah.conf for routes

[2017-04-08 15:40] jeevatkm opened #25 "Streamline template library for extensible"
Simple and Effective Interface is already implemented.

However, currently template/view lacks easy way of adding custom developed template engine in to aah framework and app config.

[2017-04-09 04:25] jeevatkm commented on #24
This doesn't to be good one. so closing it.

[2017-04-09 04:25] #24 closed

[2017-04-09 16:10] jeevatkm opened #26 "Auto Parse/Binding for Request Params and Body"
Goal is achieve auto bind of request values into controller action parameters based on content type.

In addition to that, create an extensible `RequestParser` capability by `Content-Type`. So that user can write their own request parser by content-type.

* [x]  Request parser implementation
* [x] Auto Parse and binding by content-type and datatype
* [x] Documentation

[2017-04-10 17:18] jeevatkm opened #27 "Add support for setting value to keys that doesn't exists"

[2017-04-10 20:09] #27 closed

[2017-04-10 20:09] #25 closed

[2017-04-10 20:09] #20 closed

[2017-04-13 00:44] jeevatkm opened #28 "Multiple HTTP method scenario and Improve child route handling"
Currently router doesn't handle this scenario well. So add error message and handling is important.

[2017-04-13 21:17] #28 closed

[2017-04-13 22:35] jeevatkm opened #29 "Migrate session library into security"
Technically session is part of application security, it makes to move session into security
 package.

Also it creates the path for upcoming feature implementation like CORS, CSRF, Security Headers, etc.

[2017-04-14 17:57] #29 closed

[2017-04-15 01:58] jeevatkm opened #31 "Fix session scope display and usage"
Currently session scope display on server startup is incorrect. `App Session Mode: stateless`

[2017-04-15 18:20] jeevatkm opened #32 "Handle zero or more parameters from stack trace"
`slice bounds out of range` on `aahframework.org/aruntime.v0/stacktrace.go:136`

[2017-04-15 20:11] #32 closed

[2017-04-15 20:11] #31 closed

[2017-04-16 14:26] jeevatkm opened #34 "Add automatic let's encrypt SSL support and Streamline SSL"
* Implement Let's Encrypt auto cert
* Streamline SSL config and usage

[2017-04-18 22:22] jeevatkm opened #35 "Streamline build flow and config values"
- [x] Streamline config values
- [x] add support for cross compile build
- [x] unify one app name use

[2017-04-19 07:54] jeevatkm opened #36 "Windows OS dry-run for framework"
Ensure framework is doing good on windows OS before first public release.

[2017-04-19 08:02] jeevatkm opened #37 "Application Security"
aah brings the simple, effective security implementation, inspired by [apache shiro security](http://shiro.apache.org) library.

Goal is to provide elegant way to fulfill application security.

* [x] Authentication
     * [x] Schemes
     * [x] Principals
* [x] Authorization
     * [x] Roles
     * [x] Permissions
* [x] Subject
* [x] View Template Functions
* [x] Routes Configuration
* [x] Securit

[2017-04-19 08:03] #34 closed

[2017-04-19 08:03] #35 closed

[2017-04-19 10:50] hsluoyz commented on #37
Hi, I'm the author of [casbin](https://github.com/hsluoyz/casbin). It is an authorization library that supports models like MAC, RBAC, ABAC.

Related to RBAC, casbin has several advantages:
1. roles can be cascaded, aka roles can have roles.
2. support resource roles, so users have their roles and resource have their roles too. role = group here.
3. the permission assignments (or policy in casbin'

[2017-04-21 18:23] jeevatkm opened #38 "Add http.Pusher support"
Adding HTTP/2 pusher interface support

[2017-04-21 21:36] jeevatkm opened #39 "Add helper methods for Session values"
* Add helper method like GetBool, GetInt, etc.
* Session created time

[2017-04-22 19:51] #39 closed

[2017-04-24 00:46] #38 closed

[2017-04-24 02:40] jeevatkm commented on #37
@hsluoyz Thanks for the library reference. I have went through your library. You have done a good job.

I'm in the progress making aah framework initial public release. Then I will start working on security library.

[2017-04-24 19:16] jeevatkm opened #40 "Add configuration to Disable HTTP/2 support"
Provide configuration from `aah.conf` to disable `HTTP/2` if need be.

[2017-04-25 03:58] #40 closed

[2017-04-26 01:29] #36 closed

[2017-04-26 23:28] jeevatkm opened #41 "Add support to override ViewArgs via aah.Data values"
You can add view via `AddViewArg` method also adding support of overriding that value `HTML*` with `aah.Data`.

[2017-04-28 00:25] #41 closed

[2017-05-10 22:20] joelsdc opened #42 "Ability to list current existing aah applications from $GOPATH"
Hi,

I'm trying the aah framework, and I'm missing the ability to list my existing applications.

I have created 3 apps:
test - api
test2, test3 - web

It would be nice to have something like: `aah list` // `aah show` (or whatever)

[code]

Thanks!
Joel.

[2017-05-19 05:34] jeevatkm commented on #3
It's done :)

[2017-05-19 05:34] #3 closed

[2017-05-21 02:00] jeevatkm opened #44 "Possibility of directory traversal vulnerability"
On Reddit user [epiris](https://www.reddit.com/user/epiris) reported the possibility of directory traversal vulnerability on directory listing.

I have analyzed the issue and pointers from `epiris`. aah framework uses `http.Dir` internally for serving directory listing. `http.Dir` has checks  for `Dot-Dot`, `\`  path separator and `\x00` char to prevent `directory traversal vulnerability`.

Howeve

[2017-05-21 03:20] jeevatkm commented on #44
Addressed, need to make a release of `v0.5.1` with issue details [here](https://aahframework.org/security/vulnerabilities.html)

[2017-05-21 03:23] jeevatkm commented on #42
@adelowo have submitted PR go-aah/tools#5 for this feature. Contributor and I are working together to improve the implementation.

[2017-05-21 05:03] cstockton commented on #44
You are correct that http.Dir is safe, but only if the usage itself is safe and the prior use was not. You must have a http.Dir that was created with trusted input, but you passed it the result of a filepath.Join that come from a user request as mentioned in my post. I.E.:

[static.go](https://github.com/go-aah/aah/blob/7de9f0ea3d574741819bdf37f64dae263a13eae4/static.go#L25) starts like:
[code]

I

[2017-05-21 05:24] jeevatkm commented on #44
Yes, `ctx.route.File` value comes from configuration defined by user. Thank you.

I will be making a release tomorrow.

[2017-05-21 05:30] jeevatkm commented on #44
@cstockton I have read your latest reply, I will update it with clear flow.

[2017-05-21 21:02] jeevatkm commented on #44
@cstockton using `http.Dir` directly and I have updated with clear flow.

[2017-05-21 21:44] jeevatkm commented on #44
@cstockton `v0.5.1` released.

[2017-05-21 21:44] #44 closed

[2017-05-21 22:54] cstockton commented on #44
Wow, fantastic job @jeevatkm static.go is concise and secure. I like that you even jail the ctx.route.File despite your earlier reservations due to it being from a config file. Good stuff.

[2017-05-21 23:14] jeevatkm commented on #44
@cstockton Actually with the latest change I have revisited, both scenario is protected by `http.Dir` even though value come from config.

Would you like to give github star for aah framework?

[2017-05-22 02:03] cstockton commented on #44
@jeevatkm Yep! I noticed and was complimenting the initiative, good job. Have a :star: :)

[2017-05-22 05:59] jeevatkm commented on #44
@cstockton Thank you :)

[2017-05-23 17:33] jeevatkm commented on #42
`aah list` command is implemented. To be released in `v0.6`.

**Command output:**
[code]

[2017-05-23 17:36] #42 closed

[2017-05-24 07:25] LeSou opened #46 "create multiple controllers?"
Hi, Does it support creating multiple controllers?

frontend
  └ controllers
  └ models
backend
  └ controllers
  └ models

[2017-05-24 17:58] jeevatkm commented on #46
Yes, `aah` supports multiple controllers.

However it's not like your package definition. Please have a look [aah anatomy](https://docs.aahframework.org/anatomy-aah-application.html). All the go source code reside in `app` directory and all the controllers reside in `app/controllers`. Keep the models outside controllers package like `app/models`.

You can define following:
[code]

When you map the

[2017-05-24 20:20] adelowo opened #47 "Tweak route config file based on the type of project to be created"
If i create an api project with `aah new`, `appdir/config/routes.conf` contains some options commented out with "Perfect for restful api"..

I am suggesting those be uncommented by default..  For example, a `405` status reply is kind of standard for every api

[2017-05-24 20:33] jeevatkm commented on #47
Actually those values are `true` by default, [reference to docs](https://docs.aahframework.org/routes-config.html#redirect-trailing-slash).

You will get that behavior, even if it's commented. It make sense to remove comment when `aah new` for an api application.  I will update the templates. Thanks.

[2017-05-24 20:54] adelowo commented on #47
Oh, I haven't gone through the docs properly though.

[2017-05-24 20:56] jeevatkm commented on #47
No problem. I have updated the templates. Next release will have uncommented lines for `api`. Thanks for your inputs.

[2017-05-24 23:50] LeSou commented on #46
thank you

[2017-05-24 23:50] #46 closed

[2017-05-24 23:52] jeevatkm commented on #46
Please let me know, if you face any issues using `aah framework`. I'm glad to assist you.

[2017-05-25 00:30] LeSou opened #48 "Routes Configuration"
localhost {
        host = "localhost,127.0.0.1,a.com" ?
}
admin_localhost {
        host = "admin.localhost"
}

How can I support multiple domain names?

Thank you!

[2017-05-25 00:34] LeSou commented on #48
An example is if you wanted users to have their own subdomains like GitHub Pages: {username}.github.io

[2017-05-25 00:47] jeevatkm commented on #48
Docs: [Configuring subdomain](https://docs.aahframework.org/routes-config.html#subdomain)

Example: It's good to add this info in the docs :)
[code]

When you go for non-dev env, production, etc. Then you override these values in environment profile, [refer to docs](https://docs.aahframework.org/deployment.html#sample-route-host-name-config-in-environment-profile).

[2017-05-25 00:51] LeSou commented on #48
Must use nginx?

[2017-05-25 01:02] LeSou commented on #48
Dynamic binding domains，Users resolve their domain names。

[2017-05-25 01:04] jeevatkm commented on #48
**No**, I'm using it for my purpose. Since on 443 port I'm running multiple services along with aah application. That is why.

**Please Note: proxy server or web server is not required in your scenario.**

Important things is router have to know `hostname` and `port` based on your targeted environment.

Let's go by example:
1. You're doing development on your machine, route config is-
[code]

You

[2017-05-25 01:06] LeSou commented on #48
Call the specified key name when no matching route is found，Can this be set up?

[2017-05-25 01:11] LeSou commented on #48
I understand what you mean。
I now need to allow users to bind their own domain name。

Similar to pan analysis。

localhost {
    host = "*"
    port = "80"
}

admin_localhost {
    host = "admin.sample.com"
    port = "80"
}
http://sample.com / http://abc.com / http://abcd.com

[2017-05-25 01:12] LeSou commented on #48
Sorry, my English is not very good

[2017-05-25 01:20] jeevatkm commented on #48
Currently aah framework support static binding of sub-domains.

-----

You mean adding feature of `*.sample.com` so that `jeeva.sample.com`, `lesou.sample.com`??

Yes, you register `Route not found` in the `routes.conf` But **not** for host/domain names is not found.

**However, there is a workaround you can do achieve your desire result.**

Workaround is-
* Define route configuration as `dynamic.

[2017-05-25 01:22] jeevatkm commented on #48
Yes, you can do this. Using above workaround which I mentioned
[code]

[2017-05-25 01:39] LeSou commented on #48
Thank you, resolved

[2017-05-25 01:39] #48 closed

[2017-05-25 01:44] jeevatkm commented on #48
You can also use Query Parameter like-

[code]

in the controller, you can access.
[code]

Thank you, Please create a feature request? I will add support for wildcard subdomain support out-of-the-box.

[2017-05-25 02:06] ghost opened #49 "wildcard subdomain support"
I've set up a rudimentary alternative using **Server Extension** but might be better in the router itself.

[2017-05-25 02:50] LeSou commented on #20
Session store - redis

Is there no plan?

[2017-05-25 03:18] jeevatkm commented on #20
Currently no @LeSou, sorry about that. However you can easily implement
 custom store and register in `aah`. Out-of-the box cookie and file store is supported.

Please refer this [session docs](https://docs.aahframework.org/session.html) for custom store.

**PS:** If you interested you can contribute your store implementation to https://github.com/aah-contrib, I can create a repo and can work with

[2017-05-25 03:22] LeSou commented on #20
@jeevatkm
I have achieved, can I participate in the development of the project? I am now using AAH in developing company projects

[2017-05-25 05:20] jeevatkm commented on #20
@LeSou I'm glad to hear that you have started using aah framework. Your inputs and feedback is helpful.

You can contribute to aah project. Would you like to start with redis session store?

If yes then please let me know, I will create a repository under https://github.com/aah-cb and add you as user. Then we can work together to make it better.

[2017-05-25 07:37] ghost opened #50 "Template Path Auto Resolve"
**Template path confusion?**

How do I implement a custom template file path?
[code]

**Problem**
`app/controllers` ->
Package: frontend
Controller: App
Action: Login

**Incorrect:** It resolves to template `views/pages/app/login.html`

**Correct:** It suppose to be `views/pages/frontend/app/login.html`

----
When I call `ctx.Reply().HTMLf("index.html", data)`

**Incorrect:** It resolves to templa

[2017-05-25 07:38] LeSou commented on #20
@jeevatkm
It is nice to be able to contribute code to the project.

[2017-05-25 07:43] LeSou commented on #50
@jeevatkm   `
controllerName := ctx.controller
	if strings.HasSuffix(controllerName, controllerNameSuffix) {
		controllerName = controllerName[:len(controllerName)-controllerNameSuffixLen]
	}

	tmplPath := filepath.Join("pages", controllerName)`

[2017-05-25 18:39] jeevatkm commented on #49
I will add the support for wildcard subdomain. Thanks.

[2017-05-25 18:46] jeevatkm commented on #50
My best guess is framework is resolving the template by controller name only. But it should resolve along with package of controller.

I will analyze and come back.

If you have any error info from log. Please post it here.

[2017-05-25 19:39] jeevatkm commented on #50
@LeSou I found the problem.

Namespace or package name is not getting added in the `tmplPath`. I will fix it. Thanks for finding an bug.

----
While I'm analyzing this issue I thought of adding this support `template path override`.

For example: User provides the template path, framework will use the provide template path.

[code]

[2017-05-25 21:45] jeevatkm commented on #50
I have created a patch for you, please apply and test it. let me know the feedback.

Steps to apply:

Download attached patch file [template-auto-resolve.txt](https://github.com/go-aah/aah/files/1030296/template-auto-resolve.txt).
[code]

[2017-05-26 05:46] LeSou commented on #50
solve, thank you

[2017-05-26 06:32] jeevatkm commented on #50
@LeSou I'm reopening it. Since fix is not yet released. That patch is just for you so you can continue on your project development.

This fix will be release with `v0.6`.

[2017-05-26 07:06] ghost opened #51 "Option to disable Default Template Layout"
Not all templates use Layout, can you cancel DefaultTmplLayout?
[code]

[2017-05-27 01:16] jeevatkm commented on #51
One of the notable feature in aah framework is multi layout and its flexibility. I understand your application need.

I will provide a configuration option to disable `DefaultTmplLayout`?

[2017-05-27 01:32] jeevatkm commented on #51
For now create an empty layout file, something like `nolayout.html` and call
[code]

[2017-05-27 02:05] LeSou commented on #51
thank you

[2017-05-27 02:50] LeSou commented on #51
@jeevatkm
`default_layout = false`
View not found: views\pages\frontend\index\index.html

[https://github.com/go-aah/aah/blob/10f79dfc4e788a998c26d0c2abf0b95945621bab/view.go#L183](url)

[https://github.com/go-aah/view/blob/v0-unstable/go_engine.go#L70](url)

[2017-05-27 02:52] jeevatkm commented on #51
Did you manually apply commit changes into your local codebase?

[2017-05-27 02:56] LeSou commented on #51
I have not processed yet

[2017-05-27 02:59] jeevatkm commented on #51
@LeSou this config option to be release in `v0.6`. If you would like to try now, please do these steps.

Patch files created from commit sha.
 * [0001-50-tmpl-auto-resolve-fix-and-enhancement.txt](https://github.com/go-aah/aah/files/1033252/0001-50-tmpl-auto-resolve-fix-and-enhancement.txt)
 * [0001-51-config-option-to-disable-default-tmpl-layout.txt](https://github.com/go-aah/aah/files/1033253/00

[2017-05-27 03:13] LeSou commented on #51
hello,not solved
$ patch -p1 < 0001-50-tmpl-auto-resolve-fix-and-enhancement.txt
patching file aah_test.go
patching file context.go
patching file context_test.go
patching file controller.go
patching file engine_test.go
patching file middleware.go
patching file util.go
patching file view.go
patching file view_test.go

$ patch -p1 < 0001-51-config-option-to-disable-default-tmpl-layout.txt
patching f

[2017-05-27 04:04] jeevatkm commented on #51
I will check and get back to you, thanks.

[2017-05-27 04:40] jeevatkm commented on #51
@LeSou Can you apply this patch also and test it?

[view-nolayout.txt](https://github.com/go-aah/aah/files/1033307/view-nolayout.txt)

[code]

[2017-05-27 05:00] LeSou commented on #51
solve, thank you

[2017-05-27 05:02] jeevatkm commented on #51
I'm glad to hear that, thanks.

BTW, I have a question. when you say no layout? do you mean you don't have header, footer etc. for the certain pages?

[2017-05-27 06:06] LeSou commented on #51
Yes, i am using **angular2**

[2017-05-28 05:58] jeevatkm commented on #47
Done

[2017-05-28 05:58] #47 closed

[2017-05-28 05:59] jeevatkm commented on #50
Done

[2017-05-28 05:59] #50 closed

[2017-05-28 05:59] jeevatkm commented on #51
Implemented, to be released with `v0.6`.

[2017-05-28 05:59] #51 closed

[2017-05-31 02:13] jeevatkm opened #52 "Minify HTML, inline CSS and inline JS"
Goal is to achieve HTML minify with inline JS, CSS (i.e. JS & CSS define on the page) and configuration option to customize it.

* Make it extensible, so that it provides an option for further extension.
* Library: github.com/tdewolff/minify

**_Note: This is not a static files minify for JS and CSS._**

[2017-05-31 21:09] jeevatkm commented on #52
Developed pluggable HTML minifier at `https://github.com/aah-cb/minify`. Refer to [README.md](https://github.com/aah-cb/minify/blob/master/README.md), how to use it.

[2017-06-01 01:26] jeevatkm opened #53 "Provide configurable Cache-Control header for static files"
Goal is achieve configurable `Cache-Control` header for static files.
* Default cache header
* Mime type wise `Cache-Control` configuration

[2017-06-01 01:27] jeevatkm commented on #52
It is done :)

[2017-06-01 01:27] #52 closed

[2017-06-01 15:46] elevenbag commented on #4
how long will it take?

[2017-06-01 15:59] elevenbag opened #54 "Reloading a template in development"
make incremental changes to the template

[2017-06-01 17:15] jeevatkm commented on #4
@elevenbag Currently I'm working to wrap up `v0.6` release. Then I will be targeting this feature for `v0.7`

Thank you for your interest.

[2017-06-01 17:20] jeevatkm commented on #54
@elevenbag I have just replied in #4, please continue the conversation in that thread.

I would like to ask you, will you be able to help out for testing #4 feature before the release `v0.7`?

I'm closing this one.

[2017-06-01 17:20] #54 closed

[2017-06-01 19:24] jeevatkm commented on #53
static file cache configuration in `aah.conf`:

[code]

to be released in `v0.6`.

[2017-06-01 19:25] #53 closed

[2017-06-01 21:47] jeevatkm opened #55 "Provide binder from aah logger to Go Logger"
Provide binder from aah logger to Go Logger. So that third party libraries logging can be binded with aah logger seamlessly.

For e.g: direct to http sever error logging into aah logger
[code]

[2017-06-02 02:40] jeevatkm commented on #55
Implemented now `log` library provides `log.ToGoLogger()` method. It returns `go` standard logger instance binding with current log receiver.

So all the log message go to aah log receiver automatically.

[2017-06-02 02:41] #55 closed

[2017-06-02 02:46] jeevatkm commented on #49
Now in the wildcard subdomain supported in the `host` attribute of `routes.conf`.

[code]

And in the controller, you call `Subdomain` method to get the subdomain name.

For e.g.:

[code]

If it's not a subdomain then method returns empty string.

[2017-06-02 02:47] #49 closed

[2017-06-02 04:16] elevenbag commented on #4
Can I participate in development? I am currently adding caches

[2017-06-02 04:23] jeevatkm commented on #4
If would like to contribute to aah framework. Please let me know your idea before you work on, so that we can choose the feature or enhancement aligning with roadmap.

Based on that I will suggest, whether new repo needed [here](http://github.com/aah-cb) for you to do the implementation or Submitting PR.

[2017-06-02 18:08] jeevatkm commented on #4
Also please go thru the codebase to get understanding of how it is organized, structure, style, etc.

I use `gometalinter` with atom editor for code quality.

[2017-06-03 02:53] ghost opened #56 "add a cache repository"
link: https://github.com/go-aah/cache or https://github.com/aah-cb/redis-cache

I am responsible for the completion

[2017-06-03 02:53] elevenbag commented on #56
@jeevatkm

[2017-06-03 04:04] jeevatkm commented on #56
I appreciate your interest and contribution. I have created a [redis-cache](https://github.com/aah-cb/redis-cache) repository and added you.

I have not yet created aah framework code quality guidelines. Planning to publish as part of v0.6 release.

It is typical and easy.

* Please go throuh the aah codebase how it is organized in the go source file.
* Go [conventions](https://golang.org/doc/effe

[2017-06-03 04:35] elevenbag commented on #56
@jeevatkm    yes,I will maintain my own redis-cache library

[2017-06-03 04:50] jeevatkm commented on #56
Thank you @elevenbag. Glad to know your response. I will add the repo details and your name into [team page](https://aahframework.org/team.html) after the first release.

I have enabled the Travis CI integration for `redis-cache`. You can add `.travis.yml` and build it. Please refer this [.travis.yml](https://github.com/go-aah/aah/blob/v0-unstable/.travis.yml)

I have enabled the [code cov integra

[2017-06-03 04:54] jeevatkm commented on #56
@elevenbag Please refer development and release process here

https://docs.aahframework.org/release-and-development-process.html

[2017-06-03 04:59] ghost opened #57 "centralized error handler"
Something like this: [https://echo.labstack.com/guide/error-handling](https://echo.labstack.com/guide/error-handling)
[https://laravel-news.com/laravel-5-5-error-views](https://laravel-news.com/laravel-5-5-error-views)

- [x] Implementation
- [x] Documentation

[2017-06-03 05:16] jeevatkm commented on #57
Sounds good, I will add it to the roadmap. Thanks.

[2017-06-05 14:11] elevenbag opened #59 "template authenticated bug fix"
[code]

`IsAuthenticated = false;   `
show logout option ?

[2017-06-05 14:26] elevenbag commented on #59
This is the implementation of the exit
[code]

Delete` ctx.Reply().Redirect("/") `normal

[2017-06-05 19:31] jeevatkm commented on #59
Just clarifying my understanding, do you mean to say session is not cleared when redirect happens?

[2017-06-05 21:20] jeevatkm commented on #59
Found the issue, fix will be in `v0.6`.

@elevenbag Thanks for reporting a bug.

[2017-06-05 21:34] #59 closed

[2017-06-05 22:58] jeevatkm opened #60 "Correct the Typo mistake Request.Schema -> Request.Scheme"
Correct the Typo mistake `Request.Schema` -> `Request.Scheme`

[2017-06-06 02:12] adelowo commented on #56
@elevenbag and @jeevatkm, I maintain onecache (https://github.com/adelowo/onecache) already. It comes with adapters for Redis, Memcached, Filesystem and an inmemory store.. If it seems like a viable option, I would be interested in assisting to make it easier to use for aah projects

[2017-06-06 03:45] jeevatkm commented on #56
@adelowo Thanks for your inputs. Now I'm occupied with v0.6 release.  I will go thru onecache library and get back to you with my thoughts later on.

@elevenbag I would like to hear your thoughts too.

[2017-06-06 07:41] elevenbag commented on #59
@jeevatkm
There is still a mistake。

`fmt.Println(ctx.Session().IsAuthenticated)  //true`

Not show
[code]

[2017-06-06 07:45] elevenbag commented on #59
@jeevatkm
[code]

Cannot output normally

[2017-06-06 07:47] jeevatkm commented on #59
This fix is not yet released. Did you manually applied a fix into your local codebase?

Could you please share the sample application demonstrating these two issues Session value display in html and `isauthenticated`? It would help me.

I would like to fix this as soon as possible before the v0.6 release.

[2017-06-06 07:56] elevenbag commented on #59
@jeevatkm

App.go
[code]
aah.conf

[code]
index.html
[code]

[2017-06-06 07:58] elevenbag commented on #59
@jeevatkm
$ git branch -vv
* v0-unstable 6deec18 [origin/v0-unstable] #59 session clear fix while redirect happens

[2017-06-06 08:02] jeevatkm commented on #59
@elevenbag Thank you for the details. Here 1 AM, I'm fleeing sleepy going to bed.

Tomorrow I will get back to you.

[2017-06-06 08:05] elevenbag commented on #59
OK, thank you

[2017-06-06 19:18] jeevatkm commented on #59
@elevenbag Bingo found the problem. Session clear fix on redirect introduced this problem. Actually view was not getting the session object.

Now you get can test it and let me know. Thanks.

[2017-06-06 19:20] jeevatkm commented on #60
I will be releasing this in v0.6 itself, why wait? @adelowo contribute it.

[2017-06-06 19:30] jeevatkm opened #61 "Expose log level for default logger and provide helper methods"
Goal is to expose log level from log library.

Expose log level for default logger, since logger already does it - Refer [here](https://github.com/go-aah/log/blob/v0-unstable/log.go#L169)
[code]

and provide helper methods. It would be helpful for user to check before doing log (it contributes to performance).

* log.IsLevelInfo()
* log.IsLevelError()
* log.IsLevelWarn()
* log.IsLevelDebug()
* log

[2017-06-06 19:32] jeevatkm opened #62 "Add support for Accept header vendor types - REST API versioning"
Goal is to add support for Accept header with media vendor types. So bring one more REST API versioning strategy into aah web framework.

E.g.:
* application/vnd.api+json
* application/vnd.mycompany.myapp.customer-v1+json
* application/vnd.mycompany.myapp.customer-v2.2+json

**Access vendor and version info by-**
* `ctx.Req.AcceptContentType.Version()`
* `ctx.Req.AcceptContentType.Vendor()`

[2017-06-06 23:39] jeevatkm commented on #62
It's done, yet to be released.

[2017-06-06 23:39] #62 closed

[2017-06-06 23:40] #60 closed

[2017-06-07 06:01] jeevatkm commented on #4
Cleaning up few comments that doesn't belongs to this thread. Anyway conversation took place another thread.

[2017-06-07 06:03] jeevatkm commented on #59
@elevenbag did you get a chance to verify it?

[2017-06-07 15:01] blagodus opened #65 "Problem with installation"
I got this error when i try to run `go get -u aahframework.org/tools.v0/aah`..

[code]

[2017-06-07 15:21] jeevatkm commented on #65
It seems like connectivity issue with `git`.

Could you please try this and share the output (test purpose, delete it after test)?
[code]

If above git clone success then your installation would be success.
[code]

[2017-06-07 15:52] DimShadoWWW commented on #65
I have the same error:

$ git clone -v https://aahframework.org/tools.v0
Cloning into 'tools.v0'...
POST git-upload-pack (615 bytes)
error: RPC failed; HTTP 301 curl 22 The requested URL returned error: 301
fatal: The remote end hung up unexpectedly

[2017-06-07 15:56] jeevatkm commented on #65
@DimShadoWWW Thank you for the details:

Please set this git config:
[code]

Let me know the outcome.

[2017-06-07 16:01] blagodus commented on #65
After setting:
`git config --global http.https://aahframework.org.followRedirects true`
installation works..

[2017-06-07 16:07] jeevatkm commented on #65
@blagodus Thank you for the confirmation.

If you ran into any issues or if you have any questions, please let know.

[2017-06-07 16:07] #65 closed

[2017-06-08 08:45] elevenbag commented on #59
@jeevatkm  Solve, thank you

[2017-06-08 17:34] jeevatkm commented on #59
@elevenbag You're welcome.

[2017-06-09 03:36] elevenbag commented on #4
I look forward to your good news.

[2017-06-11 20:52] jeevatkm opened #66 "Add logger hook support"
Add logger hook support, so that log can be sent to external systems like `kibana`, `splunk`, etc.

Hook will be called with `Entry` object in goroutine, so that it doesn't hold application performance.

[2017-06-11 20:54] jeevatkm commented on #61
It's done.

[2017-06-11 20:54] #61 closed

[2017-06-13 00:03] jeevatkm opened #68 "Cache Busting: Force clients to refresh static files after deploy (for e.g. JS and CSS)"
For cache busting feature for static files delivery, I think it would be good to have multiple options so that users can choose based on their use case.

* Simple one using filename (prefix or suffix) using `AppBuildInfo().Version`
      * Prefix: `813e524-aah.css` or
      * Suffix: `aah-813e524.css`
* Asset pipeline - minify, cache busting, update template with minified version filename and pack

[2017-06-13 00:55] jeevatkm commented on #56
@adelowo Thank you for your patience, after v0.6 release I took a time to go through onecache library. I would like to mention you have done a good work on onecache library and it is currently at `v2.2.1`. You and I have same idea.

Honestly I didn't plan to add the cache support for a while, that's why it's not on roadmap right now. Gradually I planned to add it.

**Following is my thoughts on it

[2017-06-13 00:59] jeevatkm opened #69 "Server Access Log"
To manage server effectively it is necessary to know details about the request, response, processing time, client IP address, etc. aah framework provides the flexible and configurable access log capabilities.

aah server logs the details based on log flags. Flag format usage is `%flagname`

**The available flags as follows:**

* `clientip` - Client IP address aka Remote IP address
* `reqtime` - Ti

[2017-06-13 01:26] adelowo commented on #56
Sure, I would like to help out with this

[2017-06-13 01:42] jeevatkm commented on #69
@adelowo Please join [gitter](https://gitter.im) share your User Id then I will invite you into the [dev](https://gitter.im/aahframework/dev-team) channel. This is private channel for dev-team.

[2017-06-13 02:15] adelowo commented on #69
Id -> 58266a50d73408ce4f3546ba
username -> adelowo

[2017-06-13 02:45] jeevatkm commented on #69
Just added you into the dev channel.

[2017-06-14 01:40] jeevatkm opened #70 "Fix config.IsExists for corner case"
Currently `config.IsExists` returns false for corner cases, It good to use `config.Get` method to verify key existence.

[2017-06-14 01:43] jeevatkm commented on #70
Fixed :)

[2017-06-14 01:43] #70 closed

[2017-06-14 22:25] jeevatkm commented on #66
Log Hook is done.

[2017-06-14 22:25] #66 closed

[2017-06-15 12:08] adelowo commented on #69
This (https://github.com/go-aah/tools/blob/v0-unstable/aah/app-template/config/aah.conf.atmpl#L109-L123) would also have to be updated... At least it should contain `request.access_log.enable`.

[2017-06-15 18:41] jeevatkm opened #71 "Make i18n URL query parameter name configurable and add support for path variable."
Bringing more then one options of internationalization and localization override. Default is based on HTTP header `Accept-Language`. However real world usage requires overrides too.

aah framework provides override via -
* [x] **Path Variable:** i.e. `/:lang/home.html`, `/:lang/aboutus.html`, etc.
      * For e.g.: `/en/home.html`, `/en/aboutus.html`, `/zh-CN/home.html`, `/zh-CN/aboutus.html` etc.

[2017-06-15 18:43] jeevatkm commented on #69
You're correct, after merging your PR, Then `app-template` will be update with request access log configuration with default values. I will take care that.

[2017-06-16 04:02] adelowo commented on #71
I don't understand the second item on the checklist.. Can you explain that better ?

[2017-06-16 05:06] jeevatkm commented on #71
I have update the design description. Path variable value is accessible via `ctx.Req.PathValue("lang")`.

[2017-06-16 05:57] adelowo commented on #71
Ok, I see you updated the config structure (from `i18n.url_param_name`).. That renders #73 void ?

[2017-06-16 06:08] jeevatkm commented on #71
You no need to close #73, continue to update and push changes to the same PR.

[2017-06-17 14:23] adelowo commented on #71
@jeevatkm can you work on the "path variable".. I wouldn't be chanced to do much for some days. Maybe you pick up #73 from it's current state

[2017-06-17 15:30] jeevatkm commented on #71
No issues, I will take care, Thanks.

[2017-06-27 04:47] jeevatkm opened #75 "Content Negotiation - Offered and Accepted"
### Content Negotiation

Content negotiation is used to check what is being `offered` and `accepted` by server in-terms of request and response. (also known as `Content-Type` restriction)

**Offered** - `Accept` HTTP header [RFC 2616](https://tools.ietf.org/html/rfc2616#section-10.4.7)

   response entities which have content characteristics not acceptable
   according to the accept headers sent i

[2017-07-07 22:53] jeevatkm opened #76 "Add Hook support in the aah log"
Add logger Hook support.

[code]

Call the hook func in goroutine.

[2017-07-07 23:02] #76 closed

[2017-07-08 01:00] #69 closed

[2017-07-08 01:09] #71 closed

[2017-07-09 08:14] jeevatkm opened #77 "Revamp CLI tool to support Fully POSIX-compliant flags (short & long)"
Revamp aah CLI tool to add support -
* [x] Fully POSIX-compliant flags (short & long)
* [x] Global flags
* [x] Command and command aliases
* [x] Documentation

[2017-07-09 08:20] jeevatkm opened #78 "Add `clean` command to cleanup generated resource & build directory"
* [x] Implementation
* [x] Documentation

[2017-07-09 17:08] jeevatkm commented on #77
Done, Documentation to go...

[2017-07-09 17:09] jeevatkm commented on #78
Done, Documentation to go...

[2017-07-10 07:28] jeevatkm opened #79 "Add support to register external JSON library"
There was a suggestion in my go-resty/resty#76 library to change standard `encoding/json` to `json-iterator` library.

Then I did my [analysis](https://github.com/go-resty/resty/issues/76#issuecomment-314015250) and documented my design choice.

I think similar option would be useful for `aah framework` users too.

Let me think of efficient way to provide register option. Stay tuned...

[2017-07-10 19:23] jeevatkm commented on #78
Doc is done.

[2017-07-10 19:23] #78 closed

[2017-07-10 19:23] jeevatkm commented on #77
Doc is done

[2017-07-10 19:24] #77 closed

[2017-07-12 23:47] julienkosinski opened #80 "aah --version and aah -v bug on Windows"
Hello,

First of all, thank you very much for the great framework it really is wonderful because it's a crystal clear framework with many useful functionalities and with great choices! :D

I'm on:
`go version go1.8.3 windows/amd64`

So, I have this bug following this steps:
`git config --global http.https://aahframework.org.followRedirects true`
`go get -u aahframework.org/tools.v0/aah`

[code]
[c

[2017-07-12 23:57] jeevatkm commented on #80
@julienkosinski Thank you so much for your appreciation. I'm very glad have your appreciation on social channel to too :)

This is surprise to me.

`aah --version` and `aah -v` (posix flags)  upcoming in `v0.7` release. I have improved a lot on aah cli.

In the `v0.6` release you have to `aah version`.  Can you please try this?

I would like to know, how come you know the new flags without using d

[2017-07-13 00:04] julienkosinski commented on #80
You're right, I'm on v0.6 and so it's the command aah version.
It may have a problem with the import because it installed 0.6 instead of 0.7?

[2017-07-13 00:12] jeevatkm commented on #80
`v0.7` is not yet released, it's upcoming one.

I'm working on it (major highlights are security authentication and authorization, server access log, few enhancements... ).

[2017-07-13 00:27] julienkosinski commented on #80
Ok, so that's my fault, in fact the doc is updated with the functionalities of 0.7 as you are finishing them!

I'll let you finish it :).

Thank you very much!

[2017-07-13 00:27] #80 closed

[2017-07-13 00:30] jeevatkm commented on #80
Thank you @julienkosinski.

If you any questions or issues, please reach out via github issues or gitter.

[2017-07-13 00:56] julienkosinski commented on #80
@jeevatkm Thank you very much for your reactivity! I'll closely follow aah! :D

[2017-07-13 14:31] julienkosinski commented on #37
Really great job here! Thanks! I think it would be great to integrate the possibility to deploy an Oauth server for API too.

[2017-07-16 04:40] rebootcode opened #81 "Any benchmark ?"
Go is already powerful , but still many people like me are bechmarkoholic . Does aah has any benchmark graph against other go web framework ?

[2017-07-16 06:18] jeevatkm commented on #4
I have evaluated [fsnotify](https://github.com/fsnotify/fsnotify) and [watcher](https://github.com/radovskyb/watcher) library for monitoring file and directory changes.

I believe watcher library would be better fit for aah framework, I have created issue at watcher library radovskyb/watcher#20 to get few clarifications before I start integrating into aah framework.

[2017-07-16 06:53] jeevatkm commented on #81
@rebootcode Thank you for your interest and considering aah framework.

As of now I have not yet created benchmark suite against other go web framework. However I did benchmark of aah (which is not in presentable state) and then submitted aah framework v0.6 release on [TechEmpower Framework Benchmark](https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Go/aah). It will be add

[2017-07-16 10:27] rebootcode commented on #81
Great! Also another small question :-

1. Does aah has "file based session" and not memory based session . ( Memory based session without proper GC for expired cookies has lots of issues with memory leak )
=> Never mind , found this on feature list . `Out-of-the-box cookie and file session store is supported.`

2. Does it has `secure cookie` option ?

3. Does it uses "fasthttp" or default "net/htt

[2017-07-16 13:28] adelowo commented on #4
I have used `fsnotify` before and i can say it is a good fit too..

[2017-07-16 17:22] jeevatkm commented on #81
@rebootcode My response as follows:

As you found on the feature list, Yes aah supports cookie and file based session store. Also you can register your choice session store implementation, refer [here](https://docs.aahframework.org/session.html) and aah has expired session cleanup support based on [config](https://docs.aahframework.org/security-config.html#cleanup-interval) for file based session

[2017-07-16 17:54] jeevatkm commented on #4
@adelowo Yes I agree with you, I'm it using too. `fsnotify` was my first choice then I come across `watcher` library without using filesystem events.

I will wait for response then we can take final choice.

[2017-07-16 20:25] jeevatkm commented on #37
It's done, hooray!

[2017-07-16 20:25] #37 closed

[2017-07-17 14:05] julienkosinski commented on #57
Also, it could support error reporting for Sentry for example. https://github.com/getsentry/raven-go

[2017-07-17 14:33] julienkosinski commented on #22
About tests I really like the ideas of http://goconvey.co/ because it provides a complete framework for tests and a web interface.
What do you think about it?
I know that you already use your testing library for assertion though.

[2017-07-17 23:25] jeevatkm commented on #68
It's done.

[2017-07-17 23:25] #68 closed

[2017-07-19 06:14] jeevatkm commented on #81
@rebootcode I hope your assessment is progressing well. Let me know if you have any queries or need assistance.

[2017-07-19 06:21] rebootcode commented on #81
@jeevatkm , currently i am building up App using one of golang-iris framework fork. I am not convinced with that golang-iris framework fork, but for me performance and security is always priority, so once i am done with my app which has already crossed half of work, i will dig in to Aah Framework and will participate more here. This  framework definitely looks promising.

Cheers

[2017-07-19 06:21] #81 closed

[2017-07-19 06:34] jeevatkm commented on #81
@rebootcode Sounds good. Thanks.

[2017-07-19 11:47] julienkosinski commented on #22
@jeevatkm Any thoughts?

[2017-07-19 20:34] jeevatkm commented on #4
It's done, hooray!

[2017-07-19 20:34] #4 closed

[2017-07-19 22:40] jeevatkm commented on #22
@julienkosinski I have added the story goal and details. Please have a look.

[2017-07-20 00:16] julienkosinski commented on #22
Thank you I understand your goal now, sorry for being out of context :).

[2017-07-23 08:52] jeevatkm opened #82 "Add convenient method to save uploaded multi-part file"
Add convenient method to save uploaded multi-part file from the request. Currently aah user can has easily access uploaded file via `Req.FormFile(key)`. However it would be good to have following methods on `Request` struct:

[code]

So that aah user simply call. Example of `SaveFile` method as follows:
[code]

[2017-07-23 18:08] adelowo commented on #82
I can work on this but should `SaveFile()` really be on the `Request` struct ?

[2017-07-23 18:11] adelowo commented on #82
I can work on this but should `SaveFile()` really be on the `Request` struct ?

[2017-07-23 18:38] jeevatkm commented on #82
Where do you feel is appropriate to put it? Please let me know your thoughts.

[2017-07-23 18:59] adelowo commented on #82
Not too sure but may be something like this could work ?

[code]

[2017-07-23 19:23] jeevatkm commented on #82
Aim is to provide easy use and less memory allocation. If we create struct and provide implementation passing `req` instance then is it utility method.

I see one more spot other then `Request` is `Context` struct.
[code]

We can go with `Context` struct. I will update the design description.

[2017-07-24 00:43] adelowo commented on #82
Not to troll but it seems better placed on the `Request` than `Context` :smile:  ... It is all up to you though..

`Context` or `Request`  ? I should still be able work on the implementation

[2017-07-24 01:00] jeevatkm commented on #82
Okay 😄 let's go with `Request` then. That's what I thought of better place.

I will update the design. Also please let me know if you have time after this implementation.

[2017-07-26 16:51] jeevatkm opened #83 "Max Request Body Size"
It is recommend to limit request body size with `sane` size value. It prevents the application from

Goal is to provide Max Request Body Size for all routes (aka global limit) and individual routes too.

[2017-08-03 06:50] kieusonlam opened #85 "REST API with Generic Auth tutorial?"
Hi,

I cannot create new tag on stackoverflow. And I'm not pretty sure if I can ask question here.

I really like this project structure and everything you guys have integrated like Authentication & Authorization.

I'm new to Go. I trying to make a blog with rest api server. What should I do to get the token when using Generic Auth. Make a POST Request to `/login` route and what should I write in

[2017-08-03 16:48] joelsdc commented on #85
Hi,

First thing I have to say is I'm new to GO too. For `Q1` I assume @jeevatkm will have to reply. For `Q2`, I can tell you what I'm doing (different library though).

I'm using [Go Relational Persistence](https://github.com/go-gorp/gorp) with aah project.

Inside my project structure, I created a new package called `db`, inside it I created a `datasource.go`:

[code]

That `db` package  (dataso

[2017-08-03 17:26] jeevatkm commented on #85
@kieusonlam First of all I'm sorry. I didn't get a time to create REST API with Generic auth tutorial before the v0.7 release. I will create it today and let you know.

I'm glad to hear, you liked the aah project structure.

In the mean time, get familiar with [Generic auth configuration](https://docs.aahframework.org/authentication.html#generic-auth). Security Manager gets the auth token and pass

[2017-08-04 03:40] kieusonlam commented on #85
@jeevatkm Thanks! Looking forward to seeing it.

@joelsdc Thanks. I have another question :) Should we always open Database Connection when app is running? I found this turorial. He open and close Database Connection every action. Is that good or is that bad?

[2017-08-04 11:19] adelowo commented on #85
@kieusonlam The db connection should be opened once and only closed when the app is shutting down - since it is a long running process, it differs from say `PHP` where a new `HTTP` request starts the entire process.

[2017-08-04 16:14] joelsdc commented on #85
@kieusonlam I think you didn't link to the URL. Can you post the tutorial? I'd love to have a look.

[2017-08-04 16:19] kieusonlam commented on #85
@joelsdc My bad. Here is it: https://medium.com/@etiennerouzeaud/how-to-create-a-basic-restful-api-in-go-c8e032ba3181

[2017-08-04 16:54] joelsdc opened #86 "How to relate access_log with application log?"
Hi,

I like the way you can configure the format of the access_log file. If I include the request-id in the access_log, how can I correlate a request with events in the application log?

For example:

Application log:
[code]

Access_log:
[code]

If I add the `reqid` value to the access_log I get the following:

[code]

Is there a way to add the `reqid` also to the application log?

Also, I would't

[2017-08-04 16:57] jeevatkm commented on #85
@kieusonlam I had a look on the article. The way `InitDb` is implemented and usage is not recommended or correct way.

Go `database/sql` package effectively manages the Db connections via pooling. Right way to go is:
* Initialize the DB once at application startup
* Use the already initialized DB instance to get the transaction as needed using [DB.Begin](https://golang.org/pkg/database/sql/#DB.Beg

[2017-08-04 17:06] joelsdc opened #87 "Logging request/response body."
Hi,

Is there a way to dump to a file (possibly, different from access/application log) the request and/or response body?

If there is, I would have the same doubt as #86.

Thanks,
Joel.

[2017-08-04 17:36] jeevatkm commented on #82
It's done.

[2017-08-04 17:36] #82 closed

[2017-08-04 17:42] jeevatkm opened #88 "Configurable Security HTTP Headers"
aah framework highly focuses on application security. It brings Out-of-the-box many measures and handling. Secure headers is one among them.

- [x] Implementation
- [x] Documentation

[2017-08-04 17:46] joelsdc opened #89 "User-friendly password bcrypt hash generator command in aah"
Hi,

This is a feature request. I'm trying the BASIC-AUTH..

In the documentation I see:
[code]

Background...

The most common tool to generate password hashes is `mkpasswd`, and, bcrypt is not supported:

[code]

This means that to generate a brypt password, you have to install a different tool, use an online generator or run a script in some language (python, perl, ruby, etc..) that has a bcryp

[2017-08-04 22:11] jeevatkm commented on #85
@kieusonlam I have added the tutorial aah application of REST API generic auth here https://github.com/go-aah/tutorials/tree/master/rest-api-generic-auth

Please go through and let me know if you have any questions or doubts.

I need to create documentation page for this tutorial application, once done I will let you know.

[2017-08-04 23:29] adelowo commented on #89
I don't seem to find a valid usecase for `aah mkpasswd` :confused:

[2017-08-04 23:47] adelowo commented on #83
Hi @jeevatkm, as per the global limit, I see there is already a config value `server.max_header_bytes` which defaults to `http.DefaultMaxHeaderBytes` (`1MB`) already. What option are you looking at with the individual routes ? `routes.index.max_header_bytes` ? That is should `max_header_bytes` be located in each route config block ? I should be able to work on this next week (if you don't already

[2017-08-05 01:03] jeevatkm commented on #83
@adelowo This is for `Body` size limit not a HTTP Headers size limit.

[2017-08-05 01:23] jeevatkm commented on #83
@adelowo Currently I'm working on content negotiation #75

[2017-08-05 01:27] adelowo commented on #83
Lol, I am sorry I mixed it up. Wasn't thinking straight.

[2017-08-05 03:20] jeevatkm commented on #75
Also known as `Content-Type` restriction.

[2017-08-05 03:21] joelsdc commented on #89
@adelowo I'll explain my usecase, maybe you can give me a better approach or maybe I missed something really trivial that solves this...

Say you have enabled BASIC-AUTH in security.conf.

[code]

Now, in the credentials file I have:

[code]

My request of `aah mkpasswd <...>` is exactly for this case. How would you generate the password bcrypt hash?

[2017-08-05 06:27] jeevatkm commented on #86
@joelsdc I understand your use case. Let me think of best approach to solve this use case. I will get back to you.

[2017-08-05 06:29] jeevatkm commented on #87
@joelsdc Currently this feature does not exists in aah. I will add this into Roadmap. Thank you.

[2017-08-05 06:39] jeevatkm commented on #89
@joelsdc I think it might be helpful for `bcrypt`, `scrypt` and `pbkdf2` algorithms. Since these algorithm requires to write some code to generate a hash. No ready to use tool exists. So `aah cli` might become handy.

However for `md5`, `sha-256` and `sha-512` hashing you can use the `mkpasswd` tool.

[2017-08-05 09:02] adelowo commented on #89
@joelsdc ,  I would use a REPL for this (e.g gore). BTW I read your original comment about using another language for generation of bcrypt hashes. Go has an awesome crypto lib though.

[code]

[2017-08-05 09:23] adelowo commented on #89
@jeevatkm Another thing I am thinking of is this. Would it sound better if this gets added to the `essentials` package. That way, the user can quickly use a REPL for this or generate users' password to put into some storage - `ess.GeneratePassword(algoType string, plainPassword string) (string, error)`.

I still don't feel it is worth adding this to the standard tool cli. If this gets added, `aah

[2017-08-05 12:01] kieusonlam commented on #85
@jeevatkm Thank you for helping me out. I tried it. I make a `GET` request to `http://localhost:8080/v1/reportee/user1@example.com`
![image](https://user-images.githubusercontent.com/13093313/28995252-b4d15846-7a0e-11e7-8079-8386df67069f.png)
I got this. Am I doing it wrong?

By the way I want a example look like this
https://echo.labstack.com/cookbook/jwt
Could you help me with that :) Get the to

[2017-08-05 15:22] joelsdc commented on #89
What do you think of just including a little one-liner script like the one you posted, maybe as an independent script in a misc/ or utils/ directory? So it's there to help, but not strictly a part of aah...

From my perspective, the `aah mkpasswd` was just a suggestion, to be honest, for me any way would work, but I have to agree with you @adelowo that this could open a door to start all sorts of

[2017-08-05 18:08] jeevatkm commented on #85
@kieusonlam You're missing `Bearer ` prefix before the token on Authorization header.

Typically API services takes token and validates with identity management system. Generic Auth tutorial demonstrates that one.

Also I will create JWT tutorial for you with token generation (POST request) and validating income request.

I understood your question, Once I create a documentation explaining the tut

[2017-08-05 19:41] jeevatkm commented on #89
@joelsdc @adelowo Sounds good. I'm closing this issue.

There is a plan of implementing PasswordEncoder hashing method(s) for Authentication and Authorization purpose on `security/acrypto` package.

So then script can use those methods. We can document that in the documentation.

[2017-08-05 19:41] #89 closed

[2017-08-05 20:47] jeevatkm opened #90 "Generate the security package and providers via app-template"
Generate the `security` package and `providers` via app-template based on chosen auth scheme via aah CLI.

- [x] Implementation
- [x] Documentation

[2017-08-06 03:31] jeevatkm commented on #85
@kieusonlam REST API using JWT auth Tutorial with documentation is ready.

https://docs.aahframework.org/tutorial/rest-api-jwt-auth.html

[2017-08-06 04:32] jeevatkm commented on #85
Closing it, @kieusonlam anytime let me know if you any queries.

[2017-08-06 04:32] #85 closed

[2017-08-06 11:40] kieusonlam commented on #85
@jeevatkm Thank you so much. That exactly what I am looking for.

I also try it with Bearer prefix.
![image](https://user-images.githubusercontent.com/13093313/29002864-5921b1bc-7ad6-11e7-8e76-47d99023b5f6.png)
Here is my console log
[code]

[2017-08-06 15:00] jeevatkm commented on #85
@kieusonlam Tutorial should work properly. Which one it is generic tutorial and JWT auth?

Also issue is as log states, check the `security.conf` of config attribute `authenticator`.
[code]

[2017-08-06 15:07] kieusonlam commented on #85
@jeevatkm All there of auth tutorial, I got the same error. I didn't change anything from the source code.

My PC: Windows 10
go version go1.8.3 windows/amd64

[2017-08-06 15:09] jeevatkm commented on #85
This is surprise. Okay Windows OS, Let me check with my windows VM and get back. Thank you.

[2017-08-06 15:49] jeevatkm commented on #85
@kieusonlam I have just verified in my Windows 10 VM. all the tutorials are running fine. Could you please join gitter chat? then we can analyze it why you're getting an issue.

[2017-08-06 16:01] jeevatkm commented on #85
@kieusonlam If you want we can have screen share session too.

[2017-08-07 01:55] kieusonlam commented on #85
@jeevatkm I tried on another computer, it's work. Sorry for bordering you so much. I may try to figure out what wrong with my computer. If I stuck on something, I will join gitter. Thanks again.

[2017-08-07 04:16] jeevatkm commented on #85
@kieusonlam no problem. Glad to hear, you got it working.

[2017-08-07 12:00] julienkosinski opened #92 "Hot-reload with virtualbox synced folder"
Hello,

The hot-reload system is based on watcher which seems to have a bug with Virtualbox synced folders...
https://github.com/radovskyb/watcher/issues/26

Specifically with aah with hot-reload activated, not only events does not work on the folder on the host but also with this configuration it avoids the server from handling requests on the forwarded port 8080.

If anyone is able to help me on

[2017-08-07 16:54] jeevatkm commented on #75
Merged :)

[2017-08-07 16:54] #75 closed

[2017-08-07 17:41] jeevatkm commented on #92
Looks like to I need to setup an environment for this to verify. Would you mind sharing your vagrant file?

[2017-08-07 17:58] julienkosinski commented on #92
Yes, thank you very much! :)

https://dl.dropboxusercontent.com/s/jjb4z843virszf1/Vagrantfile

[2017-08-07 20:48] jeevatkm commented on #79
Done :)

[2017-08-07 20:48] #79 closed

[2017-08-07 20:58] jeevatkm commented on #92
Thank you, I will have a look.

[2017-08-09 16:27] jeevatkm commented on #83
Implemented and merged :)

[2017-08-09 16:27] #83 closed

[2017-08-11 17:06] jeevatkm commented on #92
@julienkosinski I have verified using vagrant file. The steps I did and observation as follows:

* Ubuntu VM successfully created, my host machine is Mac OS Sierra.
* Your startup provision script has `chmod -R o+rwx /home/ubuntu/go/`, do not set `+x` source code files
* First I have verified within VM, does `aah` work as expected? Yes, it is working as expected (hot-reload, etc) using `curl` with

[2017-08-11 19:39] jeevatkm commented on #57
Centralized error handler implementation is done, came out very good. Available on edge version.

Documentation is in progress.

[2017-08-12 01:02] jeevatkm commented on #92
Found the problem of `port forwarding` issue while using hot-reload server within Virtual Machine.

Issue is hot-reload server binds to `localhost:8080` so virtual box or vagrant configuration do not how to forward the request for NAT bridge. As I mentioned in previous comment. SSH tunnel worked, since it was not using NAT bridge.

Solution is to bind hot-reload server to `:8080`. It works.

I hav

[2017-08-12 01:03] jeevatkm commented on #92
Fixed it. Coming in `v0.8` release.

@julienkosinski you can try dev version before the release and share your feedback.

[2017-08-12 01:04] #92 closed

[2017-08-12 17:24] julienkosinski commented on #92
@jeevatkm Working great! Thank you very much! :D

[2017-08-14 09:48] #57 closed

[2017-08-14 13:25] razorness opened #97 "i18n - fallback not working without message store"
When you have no message store , falling back to default locale does not work.
When you create an empty file like `i18n/messages.de` default/fallback does work.

**How to reproduce?**

- Install current version of aah framework
- Intialize new project
- Execute `aah run`
- Open http://localhost:8080/ with f.e. german browser

**Result**

- Log output: `WARN  Locale (de-DE, de) doesn't exists in me

[2017-08-14 13:31] razorness opened #98 "please remove hard coded server header in response"
As far as I can see, the response header `server: aah-go-server` is hard coded. Please make it configurable. This small feature would be really great.
We don't want to expose used language nor framework to visitors.

[2017-08-14 17:32] jeevatkm commented on #97
I will analysis and get back to you, thank you for reporting it.

[2017-08-14 18:43] jeevatkm commented on #97
@razorness I found it, I will fix and let you know.

[2017-08-14 19:52] jeevatkm commented on #97
Bug is fixed and `i18n v0.3` library is released. Please take an update using below commands.
[code]

To check the i18n version
[code]

[2017-08-14 19:52] #97 closed

[2017-08-15 08:31] razorness commented on #97
Works like a charm. :)
Thank you very much.

[2017-08-15 09:18] razorness opened #99 "Configurable path for PID file"
To make it easier for building debian/linux packages, it would be nice to make the path of pid file configurable. So it can be placed at `/run/...`

[2017-08-15 17:11] jeevatkm commented on #99
Thank you. I will make it configurable.

Currently working on auto bind feature. If possible I will put in `v0.8` otherwise surely comes in `v0.9`.

[2017-08-15 17:15] jeevatkm commented on #98
This is merged, coming in `v0.8`.

[2017-08-15 17:15] #98 closed

[2017-08-17 19:46] jeevatkm commented on #97
@razorness you're welcome.

[2017-08-20 18:22] jeevatkm commented on #26
Value Parser module is bringing flexible binding options.

Time format option is improved to bring multiple format support.

Removed: `format.date` and `format.datetime` config id removed from `aah.conf`

Added:
[code]

[2017-08-21 23:47] jeevatkm commented on #26
Documentation is done :)

[2017-08-21 23:47] #26 closed

[2017-08-21 23:49] jeevatkm commented on #99
@razorness I'm including this enhancement into upcoming `v0.8` release.

[2017-08-21 23:51] jeevatkm commented on #56
@adelowo If you would like to work on cache module, please let me know. Otherwise I will close this one and later I will pick it up when I work on per roadmap.

[2017-08-22 20:00] jeevatkm opened #103 "Add Custom Render Support via Reply"
Add custom render support via Reply. So that aah user can implement interface `aah.Render` and supply it as custom render.

Classic real time usage is JSON API response - https://github.com/google/jsonapi.

**Samples**

_Sample 1_
[code]

_Sample 2_
[code]

[2017-08-22 20:05] jeevatkm commented on #99
It's merged :)

[2017-08-22 20:05] #99 closed

[2017-08-23 19:13] jeevatkm commented on #103
It's done :)

[2017-08-23 19:13] #103 closed

[2017-08-26 20:03] jeevatkm commented on #56
Closing this, I will pick it up later per roadmap.

[2017-08-26 20:03] #56 closed

[2017-08-26 20:05] jeevatkm commented on #86
Best approach is to solve this use case is bringing context based logging support in aah.

[2017-09-01 22:30] jeevatkm commented on #88
Merged  :)

[2017-09-01 22:30] #88 closed

[2017-09-03 19:11] jeevatkm opened #107 "Choosing Feature, Enhancement for v0.9 iteration"
I would like to get aah users inputs before starting the `v0.9` iteration development. Please have a look roadmap and share your input.

**I'm thinking of:**

**Enhancements** (planning to pick 2 items)
* Adding password encoders `scrypt`, `pbkdf2` for authentication
     * <s>Not decided yet for these two sha, md5</s>
* Context based logger enhancement and fields
* HTTP -> HTTPS redirects support

[2017-09-03 19:53] adelowo commented on #107
Hi,

*Enhancement*

- Password encoders : Can we get rid of md5 and bring in bcrypt ? I feel
md5 shouldn't be used for auth purposes or am I kissing something here ?
Maybe pbkdf2 can come in place of md5. Again, this are just my own thoughts.
- HTTP -> HTTPS redirects support

*Features *

- TestSuite for integration test case and function test case.

As per card, is this necessary we have this in

[2017-09-03 20:04] jeevatkm commented on #107
@adelowo
* aah already has support for `bcrypt` since `v0.7` release
* Sure I will add `pbkdf2` into the list. I agree with you I thought of removing sha & md5 both but thought to get an input from aah users

Yes, aah support standard handler. Regarding csrf handler I will ping you via gitter later on. I did research around it.

[2017-09-03 20:11] adelowo commented on #107
Oops, I missed that.. I haven't monitored the framework's progress in a long time.. Sure gitter works

[2017-09-03 20:14] julienkosinski commented on #107
Thank you @jeevatkm for this, very nice to have this kind of discussion!

Yeah! I believe for security reason maybe it should only be possible to implement by our own SHA and MD5 if some people would like... Not userfriendly implemented.
bcrypt, scrypt and pbkdf2 are secure and useful for  to have I think! :)

For me I would really like and need as enhancement some OAuth implementation, but I gues

[2017-09-03 20:23] jeevatkm commented on #107
@julienkosinski You're welcome, actually it would help me to priorities the feature and enhancements.

* Per aah security moudle, aah user can register their own password encoder since `v0.7`. It just not documented yet 😄  So I will discount SHA and MD5.
* Could you please elaborate bit on OAuth part. Do you mean; you want to integrate with OAuth Services with aah application?
     * You can do it

[2017-09-03 20:42] julienkosinski commented on #107
@jeevatkm

- Ho, ok, great then!

- In fact I'm thinking of a server implementation of OAuth protocol to be able to expose a OAuth framework from aah. Client pluggable options could be nice too :).

[2017-09-03 20:45] jeevatkm commented on #107
@julienkosinski Got it. It's server OAuth implementation you were taking about. Let me quickly check one thing and get back on this.

[2017-09-03 21:27] jeevatkm commented on #107
@julienkosinski I have just verified my doubts on OAuth server.

* It is better to use OAuth Server libraries ([osin](https://github.com/RangelReale/osin), [go-oauth2](https://github.com/go-oauth2/oauth2)) of your choice with `aah`
* Use ready to deploy OAuth server like [hydra](https://github.com/ory/hydra), etc

Adding pluggable OAuth2 option in security module is helpful not a server library.

[2017-09-03 22:42] julienkosinski commented on #107
Okay then, perfect, thank you very much! :D

[2017-09-04 17:28] jeevatkm commented on #81
@rebootcode I thought to ping you regarding security. `aah` provides flexible and powerful security module.

You mentioned your priority of security and performance. I'm sure it would you satisfy your application requirements. Please have a look on documentation. Thanks.

[2017-09-04 20:57] kare opened #108 "Running app in iTerm with Solarized Light color scheme produces hard to see log info"
![iterm-light-colors-aah](https://user-images.githubusercontent.com/68578/30038314-b9c45176-91cb-11e7-8ea7-526dc36f1b77.png)

As a side note: Is possible to turn off all colored output? Through configuration preferably. Some people (like me) don't think that colored output makes the output more readable so I'd like to have it off completely.

[2017-09-04 21:36] jeevatkm commented on #108
@kare I understand. Currently colored output is not configurable.  I will provide config option in `aah.project` in the upcoming release.

Keep your inputs coming, I will improve it. Thank you.

[2017-09-05 11:32] ansarizafar opened #109 "Dep dependency manager"
Thanks for developing the ultimate Go framework. Will aah support Dep (Go dependency management tool)?

[2017-09-05 12:59] adelowo commented on #109
I do not think aah has to officially support dep before you can make use of it..
![screenshot from 2017-09-05 13-57-39](https://user-images.githubusercontent.com/12677701/30062234-5cb4ac70-9242-11e7-8c5c-12c84a6bf7fb.png)

[2017-09-05 16:11] jeevatkm commented on #109
@adelowo Thanks for your inputs.

@ansarizafar Thank you for your appreciation. I wish if you could do that in social channels, it would help `aah`.

aah plays well with any package management tool as described in docs https://docs.aahframework.org/versioning.html#package-management. I have tested it.

As @adelowo mentioned, yes aah officially does not lean on particular package management tool si

[2017-09-05 17:15] jeevatkm opened #110 "Add scrypt and pbkdf2 password encoder in module security"
Currently `aah` supports `bcrypt` password encoder.

Add `scrypt` and  `pbkdf2` too with configurable options.

Enhance interface `acrypto.PasswordEncoder` to support `Generate` password hash by algorithm.

[code]

- [x] Implement scrypt
- [x] Implement pdkdf2
- [x] Expose convince access of all three algorithm
      - `security.Bcrypt.*`
      - `security.Scrypt.*`
      - `security.Pbkdf2.*`
- [

[2017-09-05 17:20] jeevatkm opened #111 "Context based Logging and Fields support in aah logger"
Add support for context based logging and logging with fields.

- [x] Implementation
- [x] App Template Update
- [x] Documentation

[2017-09-05 17:22] jeevatkm commented on #86
@joelsdc #111 would bring this feature in `v0.9`. I'm closing this one.

[2017-09-05 17:23] #86 closed

[2017-09-06 00:56] blagodus commented on #107
Enhancements:
- Adding password encoders scrypt, pbkdf2 for authentication
- HTTP -> HTTPS redirects support

Features:
- Validation Module
- CSRF

[2017-09-06 01:07] jeevatkm commented on #107
@blagodus thank you for inputs.

[2017-09-06 18:08] jeevatkm opened #112 "Add support for HTTP -> HTTPS redirects"
* Add support for HTTP -> HTTPS redirects
* Configuration option to enable/disable

- [x] Implementation
- [x] App Template update
- [x] Documentation

**Configuration**
[code]

[2017-09-07 00:37] jeevatkm commented on #109
@ansarizafar I hope above inputs helped you. please let me know.

[2017-09-08 07:43] jeevatkm opened #113 "Add `aah switch` command for switching aah between release and edge version"
Goal of `aah switch` command is to provide capability to switch between `aah` release and edge version.

Current approach to get aah edge version is bit complex and difficult when aah user ran into package related errors. Also updating the their codebase also pain. For example: `aah.v0` vs `aah.v0-unstable`.

So `aah switch` command will take away that pain and provides:
* Seamless way to try out

[2017-09-08 08:40] jeevatkm opened #114 "Add `aah update` command to update aah framework to latest version easily"
Goal of `aah update` command is to provide easy and convenient way to update aah framework to the latest version.

So that aah users can simply fire this command after every release. `aah update` command will update `GOPATH/src/aahframework.org/*` not a `vendor` directory.

_Note: For vendorized aah application, you should use your package management tool to update your aah to the latest version._

[2017-09-08 18:35] jeevatkm commented on #107
Thank you for everyone's inputs.

[2017-09-08 18:35] #107 closed

[2017-09-08 18:53] jeevatkm commented on #109
@ansarizafar I hope it solved your need, I'm closing this issue.

Feel free to asked your questions here or in Gitter.

[2017-09-09 19:02] jeevatkm opened #115 "Anti Cross-Site Request Forgery (CSRF) Protection"
Goal is not just bring Anti Cross-Site Request Forgery (CSRF) protection support; instead smart Anti CSRF protection feature in `aah`.

https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)_Prevention_Cheat_Sheet

Things I'm aiming for:
* Just enable it, aah will do the smart work
* Support multiple HTML form
* Check Anti-CSRF token for every non-safe methods defined in https://tools.i

[2017-09-09 19:21] jeevatkm opened #116 "Add `aah migrate` command to fix/upgrade application codebase to latest aah version"
The goal is to bring `aah migrate` command to easy the upgrade or fix the aah framework breaking changes and deprecated elements in `.go` files and basic template file support.

**Limitation:**
To begin with `migrate` command does not support config files; it should be done manually, later I will add it.

- [x] Implementation
- [x] Documentation

[2017-09-10 09:19] rebootcode commented on #81
Hi @jeevatkm - I really enjoyed creating small QnA app with aah-framework. It was with previous release. Aah-Framework needs little tweak - will send some PR, when I have left iris.
As for now, Temporarily, I have stick back with iris, as it has returned back with some goodness and is definitely showing great benchmark.

[2017-09-11 00:46] jeevatkm commented on #90
It's done.

[2017-09-11 00:46] #90 closed

[2017-09-11 05:20] jeevatkm commented on #108
It's done, coming in v0.9 release. Thanks.

[2017-09-11 05:20] #108 closed

[2017-09-11 07:34] #111 closed

[2017-09-11 17:07] jeevatkm commented on #81
@rebootcode Thank you for your feedback. I'm glad to hear you have enjoyed with aah framework.

Feel free to send the PR 😄

[2017-09-12 17:55] #110 closed

[2017-09-12 17:57] #112 closed

[2017-09-12 20:27] julienkosinski commented on #110
@jeevatkm Great job! :)
It seems that these days, PBKDF should be avoided... Maybe could be important to advise for scrypt and bcrypt...?
https://medium.com/@mpreziuso/password-hashing-pbkdf2-scrypt-bcrypt-1ef4bb9c19b3
https://security.stackexchange.com/questions/133239/what-is-the-specific-reason-to-prefer-bcrypt-or-pbkdf2-over-sha256-crypt-in-pass

[2017-09-12 20:55] jeevatkm commented on #110
Thank you @julienkosinski.

Default password encoder enabled in aah is `bcrypt` with cost 12. Also supports `scrypt` and `pdkdf2` comes with default values to start with. There on user can tune those parameters as per their compliance requirements.

I believe those post/article discussing about SHA256-crypt, SHA512-crypt vs bcrypt, pbkdf2 hashes.
Good read about password hashes https://security.st

[2017-09-12 21:00] julienkosinski commented on #110
@jeevatkm You do take care of aah users very well! Great link thanks! You're right! :D

[2017-09-12 21:10] jeevatkm commented on #110
@julienkosinski Thank you.

For every feature and enhancement in aah I do lot of study and research for the implementation and default values to align with real world usage.

Also I just read your updated comment info. I will add warning message via logging if user choose pbkdf2 with non SHA-512 hash.

Do you mind reviewing this doc https://github.com/go-aah/docs/blob/v0.9-dev/password-encoders.md

[2017-09-12 22:22] julienkosinski commented on #110
@jeevatkm Yeah, gonna propose some words about it. SHA-1 collision attacks are not that severe as I wrote in my first edit. Maybe gonna propose something in the doc to advise to avoid SHA-1 anyway :).

Recent Google searches : http://thehackernews.com/2017/02/sha1-collision-attack.html
https://crypto.stackexchange.com/questions/15218/is-pbkdf2-hmac-sha1-really-broken

[2017-09-16 15:13] julienkosinski opened #119 "Add `aah generate i18n` command to generate i18n vars"
Hello,

Besides `aah generate` which could be used for whole generation about MVC (model needs database layer).

I would like to present a functionality that I thought about i18n. The idea is to be able to generate a `messages` file like below in this example:

For i18n, if I have `i18n . "page.site.title.index"` in a view (so that's for each `i18n` vars defined in view) , I will write in CLI `aah

[2017-09-16 15:26] julienkosinski opened #120 "502 error with virtual machine and forwarded port on Hot-reload server"
Hello,

When we execute aah service behind a virtual machine running a linux distribution with the 8080 port forwarded.
When hot-reload is executed, first request trigger a 502 error, second one does work correctly.

I do know you're aware of it @jeevatkm, it's just to keep track on that :).
Thank you very much! :D

[2017-09-16 22:36] jeevatkm commented on #120
I'm documenting here so that aah users will know insights into issue. This behavior is happening in aah hot-reload server `not` the release version.

[2017-09-19 01:07] julienkosinski commented on #116
@jeevatkm About config file, when you'll add it update template directly with new config and comments (because config file are always really well commented) with an auto-merging process (like git could do with pulling commits).

For resolving conflicts some of them could modify the project with find/replace. I'm thinking of something like obvious typo change in API...
For all the complexe changes

[2017-09-19 06:27] jeevatkm commented on #116
@julienkosinski That's good suggestion. I agree, logging information via CLI would be helpful.

[2017-09-21 17:47] jeevatkm opened #122 "Add `Hijack` server extension point"
Goal of this enhancement is to provide an option in the aah go server to Hijack the request.

Hijacked request is not handled/processed by aah. It is caller responsibility to take care end-to-end.

[2017-09-21 17:48] #115 closed

[2017-09-21 18:06] jeevatkm commented on #87
Dump of Request and Response details (headers, body) coming in `v0.9` :)

[2017-09-21 19:29] jeevatkm commented on #122
Deferring this one closing it. Let's see it the future.

[2017-09-21 19:29] #122 closed

[2017-09-21 19:32] joelsdc commented on #87
Thanks!

[2017-09-22 17:56] joelsdc opened #123 "Implement config reload"
Hi,

Is there a way to reload the configuration without having to actually stop and start?

Something like `kill -HUP $aah-pid` or whatever?

Thanks,
Joel.

---
- [x] Implementation
- [x] Documentation

[2017-09-22 23:13] jeevatkm commented on #123
Thanks for proposing new feature. I'm already planning this one.

[2017-09-23 18:14] jeevatkm commented on #87
Merged

[2017-09-23 18:14] #87 closed

[2017-09-24 08:38] jeevatkm opened #125 "Server-Sent Events (SSE)"
Goal is to bring Server-Sent Events (SSE) feature, [reference](https://www.w3.org/TR/2009/WD-eventsource-20091029/)

[2017-09-24 08:39] jeevatkm opened #126 "Websocket"
Websocket feature.

[2017-09-24 14:43] julienkosinski commented on #116
@jeevatkm Also, as config files updates regularly with new versions to update documentations, efforts should be made about this.

I know that (learn just now in fact), for example, modern javascript front-end scaffolding apps handle this by avoiding default config and providing config repo kept up-to-date with best-practices for each use cases. (See [POI](https://poi.js.org), [here](https://github

[2017-09-28 19:03] jeevatkm commented on #113
It's done, coming in v0.9 :)

[2017-09-28 19:03] #113 closed

[2017-09-28 23:25] jeevatkm opened #127 "aah: Choosing Features, Enhancements for v0.10 :)"
Hello aah users -

I'm happy to mention `v0.9` development is completed. Will work on documentation, tutorials and website updates. Once done I will make a `v0.9` release.

----

As you know `aah` development is community driven; based on community votes I will priorities the features, enhancements from roadmap.

Please have a look on [Open Issues](https://github.com/go-aah/aah/issues) and [Roadma

[2017-09-28 23:33] julienkosinski commented on #127
Thank you very much! :-)

For me the top 3 features I'd really like to have is as below! :-)

1. CORS
2. Validators
3. Dockerize

Test suite is the fourth for me :-).

Thanks again!

[2017-09-29 14:24] Raggaer opened #128 "Question: Custom password encoder"
So reading the `aahframework.org/security.v0/acrypto` I guess you cant declare a custom password encoder right now?

How I am supposed to use the `form` auth type with a custom password encoder?

Thanks

[2017-09-29 15:54] jeevatkm commented on #128
@Raggaer Yes, you're correct. Custom password encoder feature coming in `v0.9` release. Work-in-progress documentation of password encoder https://github.com/go-aah/docs/blob/v0.9-dev/password-encoders.md

[2017-10-01 16:25] blagodus commented on #127
Thank you for asking,at least some of these:
- Validation
- I see this in roadmap:
    `Out-of-the-box third party custom template engine support (amber, pongo2, Jade)`
I suggest Out-of-the-box [Jet template engine](github.com/CloudyKit/jet) support, please look at features and tell  me what you think?
- aah migrate #116, aah switch #113 and aah update #114
- TestSuite for integration and function

[2017-10-04 00:08] jeevatkm commented on #128
I'm closing it.

[2017-10-04 00:08] #128 closed

[2017-10-04 05:40] jeevatkm commented on #120
Fixed :) releasing with v0.9

[2017-10-04 05:40] #120 closed

[2017-10-04 19:55] jeevatkm commented on #108
@kare `v0.9` released with disable color logging option. Give it try and share your feedback.

[2017-10-05 04:01] jeevatkm commented on #128
@Raggaer `v0.9` has been released today. Now you can add custom password encoder.

[2017-10-06 00:51] jeevatkm commented on #127
@julienkosinski @blagodus Thank you for your inputs.

I have added aah pronounce and meaning in website footer. Also `aah switch` cmd is released in v0.9

I will pick following items for v0.10 iteration:
* Validation
* CORS
* Config Reload via SIGHUB signal
* Starting `aah generate` cmd with docker and systemd file then I will bring other items like controller, view, i18n, etc.
* `aah update` cmd

[2017-10-06 00:59] jeevatkm commented on #116
@julienkosinski I have read and went through your references of config templates idea. Looks interesting.

I will have to do analysis and homework on config template to see; it is feasible to accommodate in aah and Go. Will get back to you.

I would like to do proper homework before touching migrate command implementation.

[2017-10-06 20:15] tobyjwebb opened #131 "Route translation"
Would it be possible to implement a route translator?

Something like this PHP Symfony bundle: http://jmsyst.com/bundles/JMSI18nRoutingBundle/master/usage

So having different routes like:
/en/home
/es/inicio
would point to the same controller, having all the routes in a translation configuration file.

[2017-10-06 23:47] jeevatkm commented on #131
@tobyjwebb Internationalization via path param is out-of-the-box feature in aah.

Refer to this tutorial https://docs.aahframework.org/tutorial/i18n-url-path-param.html

Basically, how it works:
* Messages defined in i18n config files for every locale you would like do have Internationalization
* Those message keys is used in the view files
* Path locale key `:lang` is defined in `routes.conf` for

[2017-10-07 01:53] jeevatkm opened #132 "Validation"
My homework and discussion with aah users in the thread then finally chosen `https://github.com/go-playground/validator` as a Validator library for aah framework.

**Will add method details and types later on**

On **Validation errors**, aah will call error handler in the sequence of -

* Controller level error handler (coming in `v0.10`)
* Centralized error handler
* Default error handler

----

[2017-10-07 01:53] jeevatkm opened #133 "CORS"
CORS implementation as per: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

- [x] Implementation
- [x] Documentation

[2017-10-07 01:56] jeevatkm opened #134 "`aah generate` for systemd file - to start with"
Goal of `generate` command - increases productivity and helps developer on tedious tasks during application development. It generates boilerplate code, configuration files and complement scripts, etc.

[code]

- [x] Implementation
- [x] Documentation

[2017-10-08 08:08] jeevatkm commented on #127
Starting v0.10 iteration :)

[2017-10-08 08:08] #127 closed

[2017-10-08 08:09] jeevatkm commented on #131
@tobyjwebb Does it satisfy your use case?

[2017-10-08 10:18] tobyjwebb commented on #131
Hi

It's not quite as clean as the symfony solution, but yes, I think it will
do. Thanks!

Regards,

Toby

El 8 oct. 2017 10:09, "Jeevanandam M." <notifications@github.com> escribió:

[2017-10-08 11:13] jeevatkm commented on #131
@tobyjwebb I'm actually glad to hear your open feedback. It would really help to improve aah.  I need your inputs, so that I can improve `aah` in upcoming releases.

I'm gonna try to map the documentation reference you have provided (http://jmsyst.com/bundles/JMSI18nRoutingBundle/master/usage) into aah:

**Default behavior of aah is:**
Every view i18n keys are translated based on Request Context i

[2017-10-08 19:14] julienkosinski commented on #127
@jeevatkm Perfect!! Thank you! :D

[2017-10-08 22:03] jeevatkm commented on #131
Also you can override the request context locale value via URL query parameter.

For example: Let's say your `i18n.default = "es"`, you can do the following out-of-the-box

* `http://example.com/home` displays `es` locale
* `http://example.com/home?lang=en` displays `en` locale
* `http://example.com/home?lang=de` displays `de` locale
* etc.

You can customize the param name `lang` via `i18n.param_

[2017-10-10 07:54] jeevatkm opened #135 "Add option to 'generate' cmd to generate Docker file"
Goal of `generate` command - increases productivity and helps developer on tedious tasks during application development. It generates boilerplate code, configuration files and complement scripts, etc.

[code]

aah has automated build process for Docker Image creation. Supported Docker tags are -

  * `aahframework/aah:latest` - Latest production release.
  * `aahframework/aah:{version}` - Specific

[2017-10-15 06:57] jeevatkm commented on #131
I'm closing it. Please feel free share your inputs for the improvements.

[2017-10-15 06:57] #131 closed

[2017-10-18 00:24] jeevatkm commented on #123
It's done.

[2017-10-18 00:24] #123 closed

[2017-10-19 01:33] jeevatkm commented on #114
It's done.

[2017-10-19 01:33] #114 closed

[2017-10-19 21:14] azbshiri opened #137 "Use parent path and controller in child nodes (routes.conf)"
Hey, I was looking through your framework and I really liked it. Is it possible to do this? or any other better ways to remove duplication.

**Expected:**
[code]

**Can Do: (It works now but not DRY)**
[code]

**Actual:**
[code]

[2017-10-19 22:14] jeevatkm commented on #137
@azbshiri I'm glad to hear, you liked aah framework.

Nested routes config works like this:
[code]

* path - inherits the parent path as prefix to child path
* method - have to be provided otherwise `GET` is chosen
* controller - have to be provided for every routes
* action - if not provided then value is chosen based on HTTP method value
* auth - value is inherited from parent as-is if not provi

[2017-10-19 22:21] jeevatkm commented on #137
@azbshiri I have described above, how its currently processing the `routes.conf`.

Can you propose the improve the improvements on`routes.conf`? Routes processing code is [here](https://github.com/go-aah/router/blob/v0-unstable/router.go#L621).

I'm looking forward to your inputs and contributions.

[2017-10-19 23:38] jeevatkm commented on #137
Also I will add following enhancement too. `route name` is plays key role, it must be provide.

* path - if its not provided in child route inherit parent use as-is.

With `v0.10` release onwards you can do:

Your second example will turn into:
[code]

[2017-10-20 00:19] jeevatkm commented on #137
@azbshiri I have just added these two enhancements. Its available on aah edge version, you can give it try and share your feedback.

* path - if its not provided in child route inherit parent use as-is.
* controller - if its not provided in the child route inherit parent use as-is.

Once you installed aah version `v0.9` then you can execute `aah switch` command to try out `v0.10`edge version.

Now

[2017-10-20 12:46] azbshiri opened #138 "Unmarshaling JSON to struct and vice versa are slow"
When I POST a JSON document it takes almost 2ms to unmarshal and vice versa. I think it has something to do with JSON pool maybe but I'll try to profile it.

[2017-10-20 12:53] azbshiri commented on #137
Thanks for your attention and fast response. I'll check that and let you know.

[2017-10-20 15:36] jeevatkm commented on #138
@azbshiri Typically it should not take that much. Sure every input is helpful to improve aah. Let me know.

[2017-10-20 15:44] jeevatkm commented on #138
I believe you're auto parse and bind feature. Keep me posted.

[2017-10-20 17:01] azbshiri commented on #138
@jeevatkm What do you mean by auto parse?

[2017-10-20 17:27] jeevatkm commented on #138
@azbshiri You're using auto parse and bind feature, documentation is here https://docs.aahframework.org/request-parameters-auto-bind.html

Typically it should take same execution time as when you do manually parse the request body. Like below:

[code]

BTW, you no need to use `Status(200)` when you're using `Ok()`, documentation: https://docs.aahframework.org/reply.html

----

Keep me posted on yo

[2017-10-20 19:47] #137 closed

[2017-10-21 23:52] hengestone opened #139 "Using jade template engine example?"
Until pluggable template view engines are added, can someone add an example on how to use an external template engine like `jade`?

From the documentation it seems like it should be simple, but I'm new to golang, so help appreciated! :)

Thanks

[2017-10-22 00:43] jeevatkm commented on #139
@hengestone Thank you for your interest in aah. I'm actively working on `v0.10` features and enhancements, currently my hands are full. I could add Jade pluggable option and tutorial example along with `v0.10` release.

[2017-10-23 18:57] jeevatkm commented on #138
@azbshiri I'm closing it for now. Once you find the reproducible steps of the issue, please let me know then I will looking into it. Thanks.

[2017-10-23 18:57] #138 closed

[2017-10-25 03:00] #139 closed

[2017-12-04 01:59] broklyngagah commented on #132
Hi @jeevatkm
Any plan to use or integrate with existing library ?
I suggest gopkg.in/go-playground/validator.v9

Thanks :blush:

[2017-12-04 19:59] jeevatkm commented on #132
@broklyngagah Yes, I'm planning to use flexible library(need to do my homework on it). I haven't made any choices so far. Thanks for the suggesting one. I will look into it.

[2017-12-09 21:47] MikhailKlemin opened #140 "getting started"
I have that problem that if you fed absolute path to the  `aah new` command like `/home/mike/whatever/aah-first-app` it would say no error and wrote that aah-first-app   was created successfully, but there will be nothing in the folder.

[2017-12-09 23:21] jeevatkm commented on #140
@MikhailKlemin `aah new` supports only import path as an input. Typically aah project gets created under `GOPATH`. I believe your project could be under your `GOPATH`.

You can easily know about absolute project path. Just look for string `Your aah web application was created successfully at '.....'` from `aah new` output.

Please let me know, thanks.

[2017-12-09 23:38] MikhailKlemin commented on #140
Yes, you  are right I missed :-( It created in GOPATH that whole thing like `$GOPATH//home/mike/whatever/aah-first-app"

[2017-12-09 23:43] jeevatkm commented on #140
@MikhailKlemin Do you see this `$GOPATH` as-is in the output? if yes then I believe you have not yet setup your `GOPATH`.

[2017-12-11 22:11] MikhailKlemin commented on #140
Hi, I am sorry there is misunderstanding. I supplied the absolute path and it worked as it should it's just created the whole path starting from my $GOPATH I just was no expecting that.
Say my $GOPATH is `/home/mike/whatever` and when I supplied to `ahh new`  `/home/mike/whatever/aah-first-app` it created project at `/home/mike/whatever/src/home/mike/whatever/aah-first-app`
I was just lost a littl

[2017-12-12 01:00] jeevatkm commented on #140
Thank you @MikhailKlemin for clarifying it. Please feel free to reach out for any doubts.

[2017-12-12 01:00] #140 closed

[2018-01-06 21:35] pavsyk opened #141 "Router config of static files directory does not work properly"
If you want to place static files into other directory then "static" (see the excerpt from the routes.conf):
[code]
Then the URL `http://localhost:8080/favicon.png` returns 404, because the framework is still trying to deliver the `static/img/favicon.png` file instead of `assets/img/favicon.png`. It seems that the "static" prefix is hardcoded here, but it should take the `static/public_assets/dir`

[2018-01-06 22:00] jeevatkm commented on #141
@pavsyk Thanks for reporting an issue. I will have a analyze and get back to you.

[2018-01-09 08:05] jeevatkm commented on #141
@pavsyk Thanks, I have analyzed it. Sorry for late response, caught up with some work.

Yes, you're right. Can you use default directory named `static` and map path to `/assets`?

By design router and static file delivery supports many directories and files from relative to absolute paths. I need to think about flexible configuration for your described scenario.

For e.g.: One of my thought
[code]

[2018-01-09 19:53] pavsyk commented on #141
@jeevatkm Thanks. Yes, it is what I did (i.e. mapped the `static` dir to `/assets` path) as a workaround.

[2018-02-04 22:31] jeevatkm opened #142 "Add init.go file"
Add `init.go` file. It's important source file for the aah application.
* Registering aah server extensions
* Registering aah Middlewares and User provided middlewares
* Third party aah framework components
* etc.

- [x] Implementation
- [x] Documentation

[2018-02-21 11:19] EwanEwart opened #143 ".conf"
Reference:
https://docs.aahframework.org/v0.9/app-config.html#section-server =>

Offending text:
port = "80" # port = ""

The above line shown by the above link confuses the `.conf` parser.

Workaround before fixed:
# port = ""
port = "80"

[2018-02-21 16:16] jeevatkm commented on #143
@EwanEwart Its done please have a look.

[2018-02-23 15:05] deretsandi opened #145 "website year still 2016-2017"
why website aah not change to 2018, tq

[2018-02-23 18:58] jeevatkm commented on #145
@deretsandi Thank you for reminding me. Update is done :smile:

[2018-02-24 06:21] #143 closed, assigned to jeevatkm

[2018-02-25 03:28] jeevatkm commented on #133
Finally its done 😄

[2018-02-25 03:28] #133 closed

[2018-02-25 04:24] jeevatkm commented on #142
Done 😄

[2018-02-25 04:24] #142 closed

[2018-02-27 03:50] jeevatkm commented on #134
Its done 😄

[2018-02-27 03:50] #134 closed

[2018-03-04 20:44] jeevatkm commented on #135
Done 😄

[2018-03-04 20:44] #135 closed

[2018-03-05 09:01] jeevatkm commented on #141
@pavsyk Thank you for your patience. I have implemented this enhancement, currently available on edge version. You can give it try.

To be released as part `v0.10` 😄

_PS: BTW aah docker images are available https://hub.docker.com/r/aahframework/aah_

[2018-03-05 09:02] #141 closed

[2018-03-08 06:07] jeevatkm commented on #132
@broklyngagah @Eraac I have done my homework on following validation libraries.

* https://github.com/go-playground/validator
* https://github.com/asaskevich/govalidator

I feel like second one is more flexible/extensible, what do you think of it?

Looking forward to your inputs.

[2018-03-08 06:11] jeevatkm commented on #132
@broklyngagah @Eraac After your inputs we can pick one library for integrating with aah framework.

[2018-03-08 06:18] jeevatkm commented on #139
@hengestone Thank you for your patience. I'm planning to create a pluggable view engine of `Jade` as part of `v0.10` release.

I would like to confirm; which library you're referring to?

* Is it this one? https://github.com/Joker/jade

[2018-03-08 14:32] hengestone commented on #139
Yes, that seems to be the most popular/stable library for jade (or now pug) templates.
Thanks!

[2018-03-08 17:07] broklyngagah commented on #132
Hi @jeevatkm
Thanks for mentioning me. To be honest i have not use the second one. in my opinion for [this package](https://github.com/go-playground/validator), it's easy to integrate and this package support for custom error message that you can integrate with multiple language. But it's up to you, i believe that both package is good enough for validation. :) How about you @eraac ?

[2018-03-08 18:08] Eraac commented on #132
same here, i have already using go-playground/validator, it seems more simple to implement/use but maybe with less builtin validator. i18n **and** l10n is a real plus.

For me asaskevich/govalidator is probably more complete (for custom validation), but more complex too

[2018-03-09 04:52] jeevatkm commented on #132
@broklyngagah @Eraac Thank you for your inputs. Let's keep it simple 😄

I will use https://github.com/go-playground/validator as a Validator for aah.

---

Also I have added the spec info above. Please have a look and let me know.

[2018-03-09 04:52] jeevatkm commented on #139
@hengestone Thank you 😄

[2018-03-09 07:14] jeevatkm commented on #139
@hengestone FYI, I have given try examples and submitted issues at Jade/Pug repository Joker/Jade#18 and Joker/Jade#19.

Please have a look. Am I understood correctly?

[2018-03-09 23:19] jeevatkm opened #148 "Improve error stacktrace for easy to read and understand"
Improve error stacktrace for easy to read and understand. This enhancement bring new config:
[code]

- [x] Implementation
- [x] Documentation

[2018-03-10 07:14] jeevatkm commented on #148
Its done 😄

[2018-03-10 23:36] jeevatkm commented on #148
**Outcome of this enhancement:**
[code]

**Strip src base option set to true:**
[code]

[2018-03-11 00:11] #148 closed

[2018-03-13 08:40] jeevatkm commented on #132
Unpublished doc: https://github.com/go-aah/docs/blob/v0.10-edge/validation.md

[2018-03-13 08:54] #132 closed

[2018-03-17 07:14] vzool opened #150 "Database Migration is Missing"
Hi,

I browsed many frameworks in order to find something very logical to me, and I found this one.
But, it does not have any migration way to a database.
Do you have a any plans to make something similar to [pop](https://github.com/gobuffalo/pop)?

Thanks

[2018-03-17 08:11] adelowo commented on #150
I would argue @jeevatkm wouldn't be interested in something like this as there are tools that have this well done already... see [goose](https://github.com/pressly/goose) for instance

[2018-03-17 22:37] jeevatkm commented on #150
@vzool Thank you for your interest in aah framework. Currently aah doesn't have built-in data layer, its an upcoming part in the roadmap. When it comes; it would be easy to use and flexible.

However currently it doesn't stop you from using any data layer library.

@adelowo has a good point about database migration. In my experience, its best to keep database migration activity outside the applica

[2018-03-19 01:04] jeevatkm opened #151 "Add Pug View Engine (formerly know as Jade)"
Add pluggable [Pug view engine](https://pugjs.org) for aah using library https://github.com/Joker/jade. Implementing aah user request #139

- [x] Create a repo - https://github.com/aah-cb/ve-pug
- [x] Implementation
   - [x] Add all aah capabilities same as aah default template engine
- [x] Add option to select view engine on aah CLI tool while creating a new app
- [x] Documentation

[2018-03-21 23:22] jeevatkm opened #152 "Make aah anatomy configurable"
One of the aah user started the conversation on [gitter](https://gitter.im/aahframework/community?at=5ab12f0935dd17022e7f1c55) improving aah anatomy.

In general aah directories structure is simple and effective, it make sense in most scenarios. However it is still fixed layout. I thought through; how can I make it possible for aah users to customize their application structure per their need, whe

[2018-03-22 03:05] jeevatkm commented on #151
It's done, coming in `v0.10` release.

[2018-03-22 03:05] #151 closed

[2018-03-24 00:53] lu1ssuarez commented on #126
Greetings @jeevatkm , excellent framework: D
Do you have any progress on this?

[2018-03-24 01:06] jeevatkm commented on #126
@lu1ssuarez Thank you for your appreciation. I wish you could share that on twitter @aahframework or
 social channels 😃

Not yet, April first week `v0.10` is to be released. After the I will be opening up thread like this one #127 Could you please vote on that moment?

[2018-03-26 08:15] jeevatkm commented on #139
@hengestone I have a good news for you. Pug view engine (https://github.com/aah-cb/ve-pug) is ready to use on aah edge version. Thank you for your patience.

Please use command `aah switch` to get edge version and you could create new project with pug view engine using command `aah new`.

[2018-03-30 18:37] moos3 commented on #150
I'd like to see something like gorm or some type of orm. That would make this framework killer.

[2018-03-30 20:58] jeevatkm opened #155 "aah: Choosing Features and Enhancements for v0.11.0"
Hello aah users -

As you know `v0.10` got released on Mar 28, 2018 with new features and enhancements. Also newly designed website, documentation presentation and per version documentation search.

I hope you're liking it 😄  Thank you for your support.

---

**Let's move on to next phase of development iteration focusing on `v0.11.0`**

As you know `aah` development is community driven; based on

[2018-03-30 21:01] jeevatkm commented on #150
@moos3 Thank you for your input. I'm glad to hear that.

I have just started the thread for v0.11.0 #155 😄

[2018-03-31 08:51] pharrisee commented on #155
Have a few work projects that I would love to use Aah for, but the lack of a few features is holding me back, namely:

Websockets
SSE
Something like https://github.com/gobuffalo/packr for bundling resources
Simple database layer, not necessarily ORM.  Something like sqlx integration would be awesome.

[2018-03-31 16:28] jeevatkm commented on #155
@pharrisee thank you for your inputs. I'm sorry to hear that its holding you.

I would like to clarify the second point - what is the expected feature? I have looked at the packr library; it converts files into binary data then compiles to binary.

[2018-03-31 16:31] pharrisee commented on #155
Well, at the moment the packaging done by the aah cli is to create a zip file.  It would be really good if the packaging built  an executable which contained everything required to run the app, no external files.  I can see a few issues with things like config etc, but I'm sure that should be do-able.

[2018-03-31 16:53] jeevatkm commented on #155
Actually packing everything into binary is doable, no issues 😄 I will make this feature as on-demand.

* `config` - since aah has feature to accept config file as param so no issues. DevOps team can utilize that without engineering team effort
* `views, css, js, images` - DevOps team looses a capability to modify/update, they have to depend on engineering team. I guess I leave that choice to engin

[2018-03-31 17:08] pharrisee commented on #155
I suppose that the startup files would be more necessary with the zipped version than the packed executable?  Also packaging gives a different deployment mechanism which may actually be more in line with some environments.

[2018-03-31 17:33] jeevatkm commented on #155
Okay, I guess its decided.

* Zip archive packing would contain startup files
* Single binary packing is just one binary

Thank you, could you please create an issue for this feature?

[2018-03-31 17:34] pharrisee commented on #155
will do :)

[2018-03-31 17:34] jeevatkm commented on #150
Closing it, feature selection thread have been started at #155.

[2018-03-31 17:34] #150 closed

[2018-03-31 17:44] pharrisee opened #156 "Binary resource packaging"
Can there be an option at build time to package resources (views, css,js,img and config) into the executable for easy one file deployment?

There are numerous packaging libraries/applications available:

- https://github.com/gobuffalo/packr
- https://github.com/GeertJohan/go.rice
- https://github.com/go-bindata/go-bindata

to name but a few.

---

Updates:

- [x] Feature implemented, available on

[2018-04-02 02:41] jeevatkm opened #157 "Code and flow optimization"
Goal is to optimize code, request and response flow.

[2018-04-05 23:40] jeevatkm opened #158 "Add support to prevent against Cross Site Script Inclusion (XSSI) attacks"
Goal is to prevent against Cross Site Script Inclusion (XSSI) attacks on JSON response payload aka JSON vulnerability.

XSSI attack is only successful if the returned JSON response is executable as JavaScript.

`aah` can add an option to prevent an attack by prefixing JSON response to make them non-executable.

Action Items:
* [x] Add method `SecureJSON` on `Reply()` builder
* [x] Make prefix conf

[2018-04-06 17:00] blagodus commented on #155
- ORM (Data access layer)
- Configurable option of roles and permissions for each route.
- Websockets

[2018-04-06 17:53] vzool opened #159 "[v0.10] wildcard route ':country_id' conflicts with existing edges in path '/country/:country_id/edit'"
Hi,

I'm trying to make a "**Restful Web**" and I followed the documentation to do these End-Points:

- List Countries         - GET    /country
- Show Create Form     - GET   /country/create
- Create Country       - POST   /country
- Get Country            - GET    /country/:country_id
- Show Country Edit Form  - GET    /country/:country_id/edit
- Update Country       - PUT  /country/:country_id

[2018-04-06 18:43] vzool commented on #156
This is really hot, anything will be already loaded and fetched directly from RAM.
Applications will behave so fast, we just touch SSD/HDD to write to Database.
Facebook working for many years to reach this goal, this is great stuff.

[2018-04-06 20:29] vzool commented on #159
By the way, I did try to figured it how to be fixed and I found it in [radix_tree.go](https://github.com/go-aah/router/blob/v0-edge/radix_tree.go) and I commented lines from [245](https://github.com/go-aah/router/blob/v0-edge/radix_tree.go#L245) to [248](https://github.com/go-aah/router/blob/v0-edge/radix_tree.go#L248), after that the problem gone. But, there is a conflict between `/country/create

[2018-04-06 20:45] jeevatkm commented on #159
@vzool aah router tells you have problem in route definitions, those lines (245 to 248) are required not to be commented.

I will try to explain, problem is these two route definition (happening at same level; not level 2 or level 3)

* Show Create Form - GET /country/create
* Get Country - GET /country/:country_id

For example:

Request 1: http://localhost:8080/country/create
Request 2: http://lo

[2018-04-06 21:01] vzool commented on #159
@jeevatkm Aha, I see.

Request 1: should send it to Create Method
Request 2: should send it to Show one record

Ok, I will looking for a different naming to `/country/create`.

But, when I remove `path = "/"` and access `/country`  by `GET` call it returns an error back:
"**405 Method Not Allowed**"

In fact, I felt it's a little strange to me at first time!

[2018-04-06 21:31] jeevatkm commented on #159
@vzool I thought to give you a suggestion.

Typically if you design Web and REST API together in one application. Following design approach works well and makes sense.

Web:

* Show Create Form - GET /country/create
* Show Country Edit Form - GET /country/edit

REST API (if API application itself separate project, then `/api` not needed): Always version your API, its good approach

* List Countrie

[2018-04-07 08:29] vzool commented on #159
@jeevatkm Thanks for your suggestions, it's  helpful.

In fact, I'm trying to implement a "**Pyramid Hierarchy URL**" for a situation like this:

`Country -> State -> City -> District -> House`

or simply

`Country -> City -> District`

So, the routes would be something like this:

[code]

But, I don't know how can I do that with current routing system! I think we need new routing system as an opt

[2018-04-07 08:49] jeevatkm commented on #159
@vzool As far as my understanding, not only `aah` or with any routing library; you may not be able to achieve if you have `path param` or `wildcard Param`like these-

[code]

So, no issues with currently routing system (FYI, aah uses radix tree implementation from this library https://github.com/julienschmidt/httprouter).

I'm always looking for a ways to improve aah to give best framework experie

[2018-04-07 10:43] vzool commented on #159
@jeevatkm I feel that "**Pyramid Hierarchy URL**" looks and behave just like "**BTree**", as I think `Radix Tree` did it too.

But, why the `Method` is missing here, algorithm just care about naming and forget the `Method` entirely!

BTY, I found an interesting library can implement this new way, it's called [Bone](https://github.com/go-zoo/bone), and I really did a testing for it [here](https://g

[2018-04-07 10:53] vzool commented on #159
@jeevatkm While I'm testing it, it looks and behave really fast with ton of features.

[2018-04-07 17:47] jeevatkm commented on #159
@vzool Thank you for your finding, I have a look and get back to you 😄

[2018-04-07 18:40] jeevatkm opened #160 "Routing mechanism needs step up"
This is all started with this issue #159 created by @vzool. Currently aah routing supports Radix Tree (aka BTree) algorithm.

Based on scenario he brought up also making aah much more flexible and robust. It needs step up in current routing mechanism.

aah users can look forward to improved routing mechanism with features on `v0.12.0` release.

- [x] Implementation
- [x] Documentation

[2018-04-07 18:41] jeevatkm commented on #159
@vzool Seems like, your input gonna make aah much more flexible on routing system with multiple routing algorithms.

I have created this issue #160 to do overhaul on aah routing system. I have scheduled it for `v0.12.0` release since I'm doing considerable internal improvements (currently in-progress) and features planned for `v0.11.0`.

I hope this plan works for you 😄

[2018-04-07 19:02] jeevatkm opened #161 "Database Access Layer"
Details yet to be filled. TODO

[2018-04-07 19:04] jeevatkm opened #162 "Configurable option of Authorization (roles and permissions) for each route"
The goal is to bring configurable option of Authorization at domain and route level for roles and permission.

**How is authorization (Roles and Permission) check happening now?**

Currently, aah user have to use Controller interceptors (Before or Before&lt;Action> based on scenario) to do roles and permission check.

**What are the benefits of having this configurable option at each route level?*

[2018-04-07 19:05] jeevatkm commented on #155
Thank you @pharrisee @blagodus for your inputs and votes.

Main focus for `v0.11.0` release:

* Code and flow optimization #157
* Data access layer #161
* Binary resource packing #156
* Websockets #126
* Configurable option of roles and permissions for each route #162

[2018-04-07 19:05] #155 closed

[2018-04-07 19:09] #159 closed

[2018-04-08 07:53] jeevatkm opened #163 "Remove hassle of domain mapping on non-dev profile if its only one domain is used"
Goal is to remove the hassle of domain mapping on non-dev profile if its only one domain is used or configured.

I'm adding this enhancement due to this question on Gitter https://gitter.im/aahframework/community?at=5ac4b47b5f188ccc152c4a1a (assuming he was trying with one domain)

**What does it mean?**
As you know, aah natively supports multi domain and subdomain implementation. Basically it doe

[2018-04-09 19:59] moos3 opened #164 "Tutorial Request: JWT Service Accounts"
It would be great to see how you would implement JWT tokens for service accounts. This would be a great addition to the rest api jwt tutorial.

[2018-04-10 00:07] jeevatkm commented on #164
@moos3 Thank you for your suggestion. Yes, I agree.  Will create a tutorial for that.

[2018-04-10 00:35] jeevatkm opened #165 "Remove `render.pretty` config in-favor of REST client editor tool and browser support"
Idea is to remove `render.pretty` config. Since now a days all REST client editor tool and browser supports JSON and XML pretty formatting. So It doesn't add much value from framework prespective.

_**Note:** It does not affect Server Dump Log file._

[2018-04-10 02:07] broklyngagah commented on #161
I use gorm in all of my RDBMS projects. +1 for gorm..

[2018-04-10 04:00] jeevatkm commented on #161
@broklyngagah Thank you for your inputs.

I'm currently in the process of figuring out and provide meaningful design and usage - As you know
"Modern application uses RDBMS as well as NoSQL".

[2018-04-10 17:39] moos3 commented on #164
👍 Can't wait :) I have been playing with this and using static passwords in my connecting services :) Another great thing to add to that would be payload signing.

[2018-04-12 08:03] jeevatkm commented on #157
Its done on edge 😄

[2018-04-12 08:03] #157 closed

[2018-04-12 08:03] jeevatkm commented on #163
Its done on edge 😄

[2018-04-12 08:03] #163 closed

[2018-04-12 17:11] blagodus commented on #161
@jeevatkm you can look at these packages for inspiration(integration):
- https://github.com/gocraft/dbr
- https://github.com/volatiletech/sqlboiler

Do you plan to build new package or just integrate existing?

[2018-04-12 17:29] adelowo commented on #119
Wait, this would potentially scan through the entire codebase to determine the `vars` ? or how is this supposed to work ?

[2018-04-12 20:15] jeevatkm commented on #119
@adelowo Thanks for asking.

This is an idea. As you know localizing application is considerable effort, aah CLI is gonna help on that. So command create i18n placeholder then aah user fills in the locale based values in it.

Let's move on to implementation part:

[code]

**Steps:**

* Command scans `views` directory and its sub-directories view files, uses the config from section `view { ... }` s

[2018-04-12 20:41] adelowo commented on #119
Understood.... I am just more worried about updates. Does this plan to support update operations like running the command again after making some changes to the views - even though it was previously generated ?

[2018-04-12 21:41] jeevatkm commented on #119
@adelowo That's a good question and concern.

Yes, user can run `n` no. of times. `messages.keys` file would be overwritten on every run, since its one way. However locale message file would be appended with new keys.

BTW, Currently `aahframework.org/config.v0` doesn't have persistence support yet. So before this implementation we have to added file persistence support for config values.

Would y

[2018-04-12 22:07] jeevatkm commented on #161
@blagodus Thank you for your inputs, I will surely look into it. It seems in the initial write up my goals didn't come out properly. I have just update it.

Answer to your question, I have not yet decided the approach whether new package or integrating existing. I will be doing my analysis inline with goals of this implementation.

Once analysis is done, I would publish my direction on this thread

[2018-04-13 06:54] adelowo commented on #119
I would take a stab at it next week if it has not been worked on

[2018-04-13 06:59] jeevatkm commented on #119
@adelowo I'm glad to hear that, No I'm not working on it. I have shared my idea with you today.

Currently I'm doing my homework on Websocket and Configurable roles/permissions for each route definition.

[2018-04-14 07:54] jeevatkm commented on #158
Done 😄

[2018-04-14 07:54] #158 closed

[2018-04-24 02:42] jeevatkm opened #171 "[Solved Temporarily with forked version] Currently Pug (Jade) view engine integration is broken"
Due to latest changes happened at https://github.com/Joker/jade library. Integration with aah is broken. I'm gonna create an issue and await for response from developer.

[2018-04-24 04:39] jeevatkm commented on #171
Temporarily mapped to forked version and release `v1.0.2` So that till actual resolution comes, aah users can use the library without any issues.

[2018-04-24 11:06] AugustHell commented on #103
### Cant get custoum rendering to work for me

Hi, first of all, coding in php for almost 20 years, I'm pretty new to go (since a few months), but I'm having some experience in c and c# therefore go looks familiar to me.
I really like the coding style of aah and seriously trying it out since some days to see if I can get used to it and it meets my needs.

One of them is to have some kind of web co

[2018-04-24 17:34] jeevatkm commented on #103
@AugustHell  Thank you for using aah for your project. I'm glad to hear your appreciation.

Feel free to reach out on Gitter or here for any assistance with aah.

----

aah go view engine is enhanced features with default go template engine. So it has all the capabilities 😄

Let's get to your questions.

First you might have a read the [aah views directory structure](https://docs.aahframework.org/

[2018-04-24 19:04] jeevatkm opened #173 "Custom Render fails on Content Type HTML"
@AugustHell reported an issue on [Custom Render](https://github.com/go-aah/aah/issues/103#issuecomment-383892302), I have analyzed and found it fails on scenario:

when aah user implements custom render for content-type HTML it fails.

[2018-04-24 20:41] jeevatkm commented on #173
Issue fixed.

[2018-04-24 20:41] #173 closed

[2018-04-24 20:57] jeevatkm commented on #103
@AugustHell Thanks finding a bug #174, I have fixed it. Made `v0.10.1` release. Please update aah at your end. You're good to go 👍

[2018-04-25 10:07] AugustHell commented on #103
Thank you very much for your quick detailed reply and the aah update!

I understand the part of the layout and page rendering. Only, it doesn't work like I'd expect it. Maybe another quirk?

I'm using block instead of template, cause I like to have default content in the layout in place, that should be replaced by the controller with dynamic content on runtime.
The goal is, that web design is deco

[2018-04-25 17:08] AugustHell commented on #161
You might have a look on the awesome [CockroachDB](https://www.cockroachlabs.com/product/cockroachdb/). It is written in go, incredible fast, made for scaleability and it can be connected thru postgres-adapters. JSON types makes it interesting for NoSQL users too.

[2018-04-25 18:37] jeevatkm commented on #103
@AugustHell I understand your goal (generally it should be 😄). I'm wondering why `block` is not working. I will check and get back to you.

Thanks for the suggestion on reply design. First I would like to understand how erlang/elixirs works then I could think on design. (Added note on [Roadmap](https://github.com/go-aah/aah/projects/3))

[2018-04-25 20:56] jeevatkm commented on #161
@AugustHell Thank you for your inputs.

[2018-04-26 01:03] jeevatkm opened #175 "Layout's block and template is overriding the child template"
@AugustHell [reported](103#issuecomment-384234561) child template is not overriding a layout defines such as `template`  and `block`.

I have analyzed and found an issue.

[2018-04-26 01:51] jeevatkm commented on #175
I have fixed it 😄 and made view library release `v0.8.2`

[2018-04-26 01:51] #175 closed

[2018-04-26 08:56] AugustHell commented on #103
Thanks a lot.
Oh, I shouldn't have mentioned erlang/elixir. It's a complete different language, a wonderous world from another continent with its own culture and history. Don't look  it at as long as you don't have huge amounts of free time :grin:
[Plug](https://hexdocs.pm/phoenix/plug.html) is part of the Phoenix framework and it aims to make every "component" plugable, so that you can chain toge

[2018-04-26 10:10] AugustHell commented on #161
The database layer is a big topic in my eyes. Most frameworks struggle on that part or even touch it.
In the go world I haven't find yet a really good one.
Some thoughts:

### Multiple Connection Handling
As write operations are the heavy impacts for any database, a solution for high traffic sites is to have a pure read and a read/write connection to two different servers that are handling the syn

[2018-04-26 18:25] jeevatkm commented on #171
Closing for now.

[2018-04-26 18:25] #171 closed

[2018-04-28 06:49] jeevatkm commented on #126
@lu1ssuarez @pharrisee @blagodus I have completed WebSocket feature on `edge`, also created a simple tutorial here https://github.com/go-aah/tutorials/tree/v0.11-edge/simple-chat

[code]

I'm gonna start working on documentation part.

Please give it try and share feedbacks, suggestions. I'm looking forward to it.

[2018-04-28 22:59] pharrisee commented on #126
I have an app ready for this, I'll give it a try in work on Monday.  Thanks for the work you've done so far.

[2018-04-29 01:45] jeevatkm commented on #126
Thank you @pharrisee

[2018-04-30 00:07] jeevatkm commented on #126
Documentation: https://github.com/go-aah/docs/blob/v0.11-edge/websocket.md
Lifecycle Diagram: https://cdn.aahframework.org/assets/img/docs/aah-WebSocket-Lifecycle.svg

[2018-05-01 11:53] pharrisee opened #176 "[edge] Extensions points changed/removed? (OnPostAuth, OnRequest, ...)"
Hi, I'm testing the new Websocket functionality and have switched to 'edge'.

I'm seeing that some of the extension points (OnPostAuth, OnRequest, ... ) have seemingly disappeared?  Is this simply a regression or have they been removed purposely?

It seems that only OnInit, OnShutdown and OnStart are still there.

On switching back to release (v0.10) the methods reappear.

[2018-05-01 13:27] pharrisee commented on #156
Not sure if this helps, but this guy has done a fair bit of research and comparison of various resource embedding methods for Go:

http://tech.townsourced.com/post/embedding-static-files-in-go/

[2018-05-01 17:16] jeevatkm commented on #176
@pharrisee Thank you for trying edge version. As part of `v0.11.0`, it is refactored into following categories.

* App level extension event
      - `aah.On{Init,Start,Shutdown}`
* HTTP Engine extension event
      - `aah.AppHTTPEngine().On{Request,PreAuth,PostAuth,PreReply,PostReply}`
* WebSocket Engine extension event
      - `aah.AppWSEngine().On{PreConnect,PostConnect,PostDisconnect,Error}`

e

[2018-05-01 17:18] jeevatkm commented on #156
@pharrisee Thank you, sure I will read it. I'm currently doing my homework; every input helps to shape an idea.

[2018-05-01 17:40] jeevatkm commented on #176
@pharrisee `aah.AppHTTPEngine().On*` and `aah.AppWSEngine().On*` gets subscribed on event `OnStart`.

Once you have generate new app; on `init.go`, you will see like below.

[code]

At the end of the file:

[code]

[2018-05-01 18:29] jeevatkm commented on #156
@pharrisee Given post is really helpful, he has done quite analysis on this topic. I'm gonna a gather plus points from overall and draw a direction for aah.

Will make good start point for aah single binary goal.

[2018-05-01 18:32] pharrisee commented on #176
ah, ok, my app was generated by v0.10 and then I switched to edge, so that'll explain that then.  thanks

[2018-05-01 18:32] #176 closed

[2018-05-08 21:43] jeevatkm opened #177 "Add OOTB support www->non www and vice-versa"
Goal is to add OOTB support for server redirects.

* www => non-www
* non-www => www

Configuration goes under section `server { ... } `

[code]

[2018-05-10 21:39] jeevatkm commented on #103
@AugustHell I thought check with you. how is your experience so far with aah? Please let me know your candid feedback.

[2018-05-10 21:40] jeevatkm commented on #126
@pharrisee Thought to collect your feedback on WebSocket. Please let me know. Thanks.

[2018-05-14 03:40] jeevatkm opened #178 "Create same experience with single and non-single binary"
Currently, I'm occupied with Virtual FileSystem (VFS) implementation for #156 and integrating VFS across the aah module's.

In aah's single binary and non-single binary, I have experienced a difference in invocation. What is it?

* single binary - It doesn't come with startup scripts `aah.sh` and `aah.cmd` - aah user have to use the single binary with args.
* non-single binary - aah user have to u

[2018-05-15 06:18] jeevatkm opened #179 "Add a find option in aah single binary"
The goal is to add a find option in aah's single binary.

**What it means?**

Once the single binary is build, there would be no easy way to know which files have got embedded into the binary. In real world scenario, it is important to have some mechanism to find out the contents. It could also be helpful for developers, devops, etc.

To achieve this, add a new flag `-list` in aah application bina

[2018-05-16 07:43] jeevatkm commented on #156
Updates:

- [ ] Feature implemented, available on edge - command is `aah build --single` or `aah b -s`
- [ ] Documentation

[2018-05-16 08:03] pharrisee commented on #156
1. switched to edge version of AAH and created a new project
2. edited aah.project to get dependencies
3. ran project with 'aah r'
4. get message 'FATAL aah.conf: read \app\config\security.conf: mount does not exist'

Any ideas?

[2018-05-16 08:09] jeevatkm commented on #156
@pharrisee Interesting. aah VFS is path separator is always forward slash `/`. I will verify it with windows OS and get back to you. Thanks.

[2018-05-16 12:44] pharrisee commented on #156
OK, updated to new release with 'aah s -r' had error:

`FATAL Unable to refresh dependencies:
# aahframework.org/aah.v0
..\..\aahframework.org\aah.v0\aah.go:278:16: a.VFS().IsEmbeddedMode undefined (type *vfs.VFS has no field or method IsEmbeddedMode)
..\..\aahframework.org\aah.v0\aah.go:282:9: a.VFS().SetEmbeddedMode undefined (type *vfs.VFS has no field or method SetEmbeddedMode)`

removed all o

[2018-05-16 12:49] jeevatkm commented on #156
@pharrisee I'm really sorry. I have committed `aahframework.org/vfs.v0` but missed to tag the prerelease version before commenting here.

Just did it. Please try again.

[2018-05-16 13:01] pharrisee commented on #156
OK, did a complete cleanup and reinstalled, switched to edge and get:

[code]

[2018-05-16 13:16] jeevatkm commented on #156
Just now docker build got successfully completed the aah edge version.

https://hub.docker.com/r/aahframework/aah/builds/br68v54j4p9cxr9sski7fcu/

aah cli executes git cmd internally; it may be the interim git issue.

I am going to verify the edge version build on fresh VM.

[2018-05-16 13:27] jeevatkm commented on #156
🎉 I am very glad to hear your feedback. Thank you.

[2018-05-16 13:27] pharrisee commented on #156
you are very welcome, and thank you for your work on these features, will make it so much easier to get it adopted at my work place.

Just FYI I work in a major UK university (I'm the web architect) and will be doing my damndest to introduce Aah there on a major new project.  If I manage it I'll be writing up the experience at a later date.  If you're interested in the results I can let you know h

[2018-05-16 13:34] jeevatkm commented on #156
Yes, I am interested in it. Please keep me posted when you get a chance.

Also, your pointers for improving aah are very welcome.

[2018-05-16 14:26] pharrisee opened #181 "Add a way to delete headers on an app-wide basis"
After reading this:

https://www.fastly.com/blog/headers-we-dont-want

It struck me that there doesn't seem to be a way to remove headers on an app-wide basis.

What would be the best way to achieve this? OnPreReply hook?

Could there be a config option for custom header inclusion and exclusion?

---

- [x] Implementation
- [x] Documentation

[2018-05-16 18:23] pharrisee opened #182 "Incorrect mime-type on static content?"
Hi,

I'm getting a browser side error:

[code]

This seems to be related to this header being set:

[code]

Since that header is set to nosniff the mime-type of the static files should be set explicitly.

This is when starting the aah app in dev mode with `aah r`.

[2018-05-16 18:47] jeevatkm commented on #182
@pharrisee Okay, please let me know after your investigation then I will start analysis at my end. Is it a edge version?

[2018-05-16 19:05] jeevatkm commented on #181
@pharrisee Thanks for sharing. Yeah it is informative article.

You have guess it correctly, best spot is `OnPreReply`.

---

My thoughts; discussed headers in the article mostly applicable to proxy server, cache server, etc For e.g. CDN's.

As an application; header originates here. aah has OOTB configs -

* Config `server.header`  to  control header `Server` (either remove it or have your custom

[2018-05-17 01:16] jeevatkm commented on #182
I have just did a small update on static file content type detection on single binary mode. You could refresh `aah s -r` to updates.

FYI, aah single binary does optional decompression (sends already gzipped bytes as-is from VFS) while delivering static files 😄

[2018-05-17 16:18] jeevatkm opened #183 "Update systemd generate script, since no intermediate startup script"
aah intermediate startup scripts removed to bring same experience on single and non-single binary as part #178.

This requires update on systemd service file generation command
[code]

- [x] Implementation
- [x] Documentation update

[2018-05-18 00:12] jeevatkm commented on #162
All - You're invited to discuss this spec before implementation 😄

[2018-05-18 00:58] jeevatkm commented on #182
Any insights or test results would be helpful.

[2018-05-18 01:00] jeevatkm commented on #181
@pharrisee Above information; does it fulfill your need?

[2018-05-18 06:31] jeevatkm commented on #179
I did test drive of this implementation, it seems better to use Package `rexexp` instead of `filepath.Match`. Basically entire path match instead of only filepath base.

Update the above spec and implement it.

[2018-05-18 11:49] lu1ssuarez commented on #126
What good news @jeevatkm , I'll try it and I'll tell you my comments to the respect <3

[2018-05-19 00:03] jeevatkm opened #184 "Simplify and make semantic way for form auth login submit config and usage"
The goal is to simplify and make it semantic way for form auth login submit config and usage.

Currently to make login submit flow to work, aah user have to manually have define/configure virtual route definition in `routes.conf` after configuring form auth scheme in `security.conf`

[code]

So `v0.11.0` onwards -

* aah would read the `security.conf` and configure the route and its flow automatic

[2018-05-20 04:42] jeevatkm commented on #183
Documentation update is done 😄

[2018-05-20 04:42] #183 closed

[2018-05-20 06:34] jeevatkm commented on #179
Documentation done 😄

[2018-05-20 06:34] #179 closed

[2018-05-20 06:34] jeevatkm commented on #178
Documentation done 😄

[2018-05-20 06:34] #178 closed

[2018-05-20 17:17] jeevatkm commented on #182
I have verified at my end. With previous update on edge, its doing fine.

[2018-05-20 17:17] #182 closed

[2018-05-21 21:04] jeevatkm opened #185 "Add OnPreShutdown Extension point"
The goal is to add new `OnPreShutdown` extension point in the HTTP engine.

**Current Flow:**

* Receive SIGINT/SIGTERM
* Trigger graceful shutdown with configured timeout on aah server
* Publish `OnShutdown`
* Clean exit

**After this enhancement, the flow would be:**

* Receive SIGINT/SIGTERM
* Publish `OnPreShutdown`
* Trigger graceful shutdown with configured timeout on aah server
* Publish `O

[2018-05-21 21:56] jeevatkm commented on #181
@pharrisee I have thought about your idea. A way to manipulate the headers for each request at application level.

Having more flexibility and control of reply in aah framework is **important**. So I'm planning to add following enhancement in HTTP Engine-

* `OnHeaderReply` - Called for each reply from aah server. At this point all the headers from aah have been written on the response writer exce

[2018-05-22 00:04] jeevatkm commented on #156
Documentation is done 😄
https://github.com/go-aah/docs/blob/v0.11-edge/vfs.md

[2018-05-22 00:04] #156 closed

[2018-05-26 04:41] jeevatkm commented on #116
Implementation is done (I would call it beta to begin with; gradually it will get more mature).

Have to work in documentation 😄

[2018-05-27 03:51] jeevatkm commented on #185
It done 😄

[2018-05-27 03:51] #185 closed

[2018-05-27 03:54] jeevatkm commented on #181
Its done 😄

[2018-05-27 03:54] #181 closed

[2018-05-27 04:14] jeevatkm commented on #116
Its finally done, thank you for patience.

[2018-05-27 04:14] #116 closed

[2018-05-27 07:46] jeevatkm commented on #162
Its done 😄

[2018-05-27 07:46] #162 closed

[2018-05-27 18:46] jeevatkm opened #186 "Remove deprecated methods in-favour of new command `aah migrate code`"
aah is bringing command `aah migrate code` (short form `aah m c`) in version `0.11.0` release. It is safe to remove deprecated methods from aah codebase. Since every upcoming release upgrade gonna be a breeze 😄

[2018-05-27 22:49] jeevatkm commented on #186
Its done 😄

[2018-05-27 22:49] #186 closed

[2018-06-01 06:50] jeevatkm opened #187 "Add OOTB OAuth2 auth scheme"
I was creating an example application for #164 then I thought, it would be nice to add OOTB OAuth2 scheme using library https://godoc.org/golang.org/x/oauth2 with flexible configuration.

Currently-

aah user would have to implement the OAuth2 implementation themselves using `scheme.Generic`.

- [x] Implementation
- [x] Documentation

[2018-06-08 22:11] jeevatkm commented on #161
Update: My homework and analysis are progressing well on data access layer, however I need further time to start foundation. So pulling this one out from `v0.11.0` and making [v0.11.0 Milestone](https://github.com/go-aah/aah/milestone/11) release.

Thank you very much for the support and understanding.

[2018-06-13 10:23] jeevatkm commented on #187
Done 😄

[2018-06-13 10:23] #187 closed

[2018-06-14 04:50] jeevatkm opened #189 "View file hot reload without watcher on dev profile with `aah run`"
The goal is to hot-reload the view template files on dev profile with `aah run`.

Currently, any changes done on view file(s) detected by watcher and then aah cli complies & restarts the app.

So it would be better to load the template on request directly from FS without app restart.

[2018-06-22 01:31] jeevatkm opened #190 "Add option override the path config in nested routes"
The goal is to added an option to override the `path` config on nested routes.

Current behavior:

* Inherits parent path config as-is if child one is not defined otherwise prefixes parent path with child path

This enhancement:

* Adds an option to override the path value without parent prefix using symbol `^`

Example:

[code]

[2018-06-22 05:03] jeevatkm commented on #190
Its done 😄

[2018-06-22 05:03] #190 closed

[2018-06-27 00:42] jeevatkm commented on #164
@moos3 I have finished the v0.11.0 development, currently working on documentation and example updates. Expected to be released on 1st week of July.

I would like to clarify few things:

* JWT service accounts - do you meat OAuth 2.0 JWT flow?
* v0.11.0 release brings OAuth 2.0 (3-legged flow) built-in with simple configuration.
* Could you provide details for payload signing?
       - Then I woul

[2018-07-02 15:21] moos3 commented on #164
Yeah, I was thinking about authorization/authentication between microservices. OAuth with custom services.

[2018-07-03 22:10] jeevatkm commented on #164
@moos3 Okay, I believe you have OAuth2 Server at your or using some cloud service. With OAuth2 auth scheme (coming in v0.11.0 release) you could do service to service auth 😄

[2018-07-08 22:29] jeevatkm opened #193 "Add global flag in CLI for 'Automatic "yes"' to prompts"
The goal is to add global flag in CLI.

`-y, --yes` - Automatic yes to prompts. Assume "yes" as answer to all prompts and run non-interactively.

[2018-07-09 02:44] jeevatkm opened #194 "aah version number is not displayed on binary CLI dist"
Please answer these questions before submitting your issue. Thanks!

#### What version of aah are you using (`aah --version`)?
[code]

#### Does this issue reproduce with the latest release?
Yes

#### What operating system are you using (such as macOS, Linux and Windows)?
macOS - Issue is only w/ Binary CLI distribution not on `go get` approach install.

#### What did you do?
I was testing the sce

[2018-07-09 03:02] jeevatkm commented on #194
Fixed 😄

[2018-07-09 03:02] #194 closed

[2018-07-09 03:27] isomorphisms opened #195 "rest-api/app/controllers/post.go:32:56: c.RouteURL undefined (type *PostController has no field or method RouteURL)"
Please answer these questions before submitting your issue. Thanks!

#### What version of aah are you using (`aah --version`)?
v 0.10

[code]

#### Does this issue reproduce with the latest release?

#### What operating system are you using (such as macOS, Linux and Windows)?
macOS Yosemite

#### What did you do?

[code]

#### What did you expect to see?
a running server

#### What did you see ins

[2018-07-09 03:28] isomorphisms commented on #195
[code]

[2018-07-09 03:34] jeevatkm commented on #195
@isomorphisms On examples repo branch `master` is compatible with latest version of aah `v0.11.0`.  Please update it latest aah.

OR
Currently your system has aah `v0.10`, for checkout branch `v0.10.x`.

[2018-07-09 03:35] jeevatkm commented on #164
@moos3 Please try `v0.11.0` release and share your feedback.

[2018-07-09 03:59] jeevatkm commented on #195
@isomorphisms Please let me know the outcome.

[2018-07-10 00:39] jeevatkm commented on #195
@isomorphisms any updates?

[2018-07-10 07:02] luodanwg opened #196 "error when go get aah"
root@testNet:~# go version
go version go1.9.4 linux/amd64
root@testNet:~# go get -u aahframework.org/tools.v0/aah
# runtime
/usr/local/go/src/runtime/mstkbar.go:151:10: debug.gcstackbarrieroff undefined (type struct { allocfreetrace int32; cgocheck int32; efence int32; gccheckmark int32; gcpacertrace int32; gcshrinkstackoff int32; gcrescanstacks int32; gcstoptheworld int32; gctrace int32; invalidp

[2018-07-10 07:15] jeevatkm commented on #196
@luodanwg it seems like connectivity issue.

Following steps are to test whether its connectivity issue or not. Can you try and share the results?

* Access this URL via browser https://aahframework.org/tools.v0
* Perform `git clone https://aahframework.org/tools.v0.git`

[2018-07-10 07:22] jeevatkm commented on #196
@luodanwg I have just googled -

[code]

Its seems like your machine might have `go` installation issue. Can you please check this link https://stackoverflow.com/a/46009259

[2018-07-10 20:32] jeevatkm commented on #195
Closing it.

[2018-07-10 20:32] #195 closed

[2018-07-10 20:32] jeevatkm commented on #196
@luodanwg any updates?

[2018-07-13 07:52] luodanwg commented on #196
thanks a lot, after update my golang version, it's ok now.

[2018-07-13 07:53] jeevatkm commented on #196
Happy to hear.

[2018-07-14 03:37] jeevatkm commented on #161
I have updated with plan and pulled out from initial and adding it here for reference:

----

Following is initial leg work on RDBMS findings-

I have done my homework (read documentation, source code) around many data access layer libraries exists now. It turns out following is the viable candidates for integration as data access layer with aah.

* `github.com/jmoiron/sqlx` - https://github.com/j

[2018-07-14 03:49] jeevatkm opened #197 "Planning v0.12.0"
Hello aah users -

As you know `v0.11.0` was released on Jul 06, 2018 with new features and enhancements. I hope you're liking it 😄 Thank you for your support.

----

Let's move on to next phase of development iteration focusing on v0.12.0

As you know aah development is community driven; based on community votes, suggestions and recommendations. I would priorities it. Looking forward to your inpu

[2018-07-15 08:14] radutopala opened #198 "Console commands"
We should be able to run commands directly from the main binary if in prod env or through `aah` binary when in dev mode.

Please see Buffalo grifts at https://github.com/markbates/grift, https://github.com/gobuffalo/buffalo/tree/master/grifts.

---

- [x] Implement `console` module
- [x] Update aah CLI to use new console module
- [x] Adapt new console module for aah application binary (startup, ve

[2018-07-15 08:18] radutopala opened #199 "Move auto-generated files to a cache folder"
Store the auto-generated `root/app/aah.go` and `root/app/aah_app_vfs.go` maybe in `root/app/cache/` or `root/cache`, just to be clear for the developer that these files shouldn't be editable and that they are auto-generated on each run or build.

[2018-07-15 08:48] jeevatkm commented on #197
@radutopala You're correct. That's the end goal. `vgo` name is used to target the efforts towards go modules work in aah.

[2018-07-15 09:00] jeevatkm commented on #199
@radutopala Agreed. Its good to differentiate auto-generated files.

I believe directory `root/app/cache` would be appropriate, since directory `app` is meant for Go source files.

[2018-07-15 09:06] jeevatkm commented on #198
@radutopala I like the idea. Could you provide further details on commands that would be a candidate to be run from `app/main` binary?

I could think of one action is database migrate from app library.

[2018-07-15 09:16] radutopala commented on #198
@jeevatkm I'd see this as a generic gate for any kind of commands that a developer needs to create in his app, similar to what Symfony has done with the Console component Or Buffalo with Grifts.

So, basically, we should be allowed:
- to create N number of commands
- attach them to the main binary in prod or run them through `aah` in dev; in dev, commands should be parsed on-the-fly, let's say fro

[2018-07-15 09:54] radutopala commented on #198
@jeevatkm I've renamed the issue to be in line with the spec 😄

[2018-07-15 10:00] vzool commented on #197
@jeevatkm Hi, what about #160 on v0.12.0 ?

Thanks

[2018-07-15 10:35] jeevatkm commented on #197
@vzool I did not forget that just I have not fully finished my homework on #160 as soon as I do I will include in the release. Thanks.

[2018-07-21 04:08] jeevatkm opened #200 "Start preparing for Go Modules, today go1.11beta2 is out!"
Today go1.11beta2 is out! I have given a try, it looks promising and overall its stable (excluding corner cases and open issues).

I believe its time to start preparing for Go Modules and keeping existing Go capabilities intact 😄

**Note: This enhancement might take place in multiple dev iteration, since it targets for `go1.11` release.**

**Action Items:**

- [x] Remove concept of `edge` version,

[2018-07-21 05:00] runner-mei opened #201 "run aah new will hung in the %GOPATH%\src"
#### What version of aah are you using (`aah --version`)?
cli v0.12.0
aahVersion entry
aahVersion 2
go  v1.10.1

#### Does this issue reproduce with the latest release?
set GOPATH=c:\xxxx
cd c:\xxxx\src
aah new

#### What operating system are you using (such as macOS, Linux and Windows)?
Windows

bug is https://github.com/go-aah/tools/blob/v0-edge/aah/util.go#L31
Patch as follow
[code]

[2018-07-21 05:10] jeevatkm commented on #201
@runner-mei Thank you for reporting bug. You have mentioned diff nicely, I would like to clarify. Are you gonna send PR or Shall I apply as per diff?

[2018-07-21 06:04] #201 closed

[2018-07-23 04:17] jeevatkm commented on #197
I'm closing it, kick start of v0.12.0 dev iteration.

[2018-07-23 04:17] #197 closed

[2018-07-23 04:18] jeevatkm opened #203 "Cache Manager"
The goal is design and implement Cache Manager that supports multiple cache providers simultaneously. And having multiple cache(s) by name on each provider.

- [x] Implementation
   - [x] CacheManager - provides access `n` # of caches, create cache by provider
   - [x] Cache interface - frequent and common used methods for cache access
   - [x] Provide option to access underlying client so that aa

[2018-08-03 23:47] jeevatkm commented on #160
@vzool I have started working on new router tree. once its completes I need your help on extensive testing. Thanks.

[2018-08-07 10:53] runner-mei commented on #22
Donot use  Goconvey!!!

Goconvey relies on https://github.com/jtolds/gls for a go routine local stack to pass its context around. Only the latest version of gls works properly with 1.9.

[2018-08-08 07:00] joelsdc opened #206 "Exclude PID files from single binary build"
Please answer these questions before submitting your issue. Thanks!

#### What version of aah are you using (`aah --version`)?

[code]

#### Does this issue reproduce with the latest release?

Yes

#### What operating system are you using (such as macOS, Linux and Windows)?

macOS

#### What did you do?

Have any `*.pid` file in your build path, run `aah build --single`, if you run your applicatio

[2018-08-09 22:28] jeevatkm commented on #206
@joelsdc I'm analysis the issue. I need one more info.

* First enable debug log for aah cli on `aah.project`. Open a file look for `log` section and set level to `debug`.
* Then run `aah b -s`
* Share the output here

[2018-08-10 03:30] joelsdc commented on #206
Hi @jeevatkm, this is the output:

[code]

[2018-08-10 03:55] joelsdc commented on #206
Hi @jeevatkm,

To add to my previous post:

[code]

Weird...

[2018-08-10 03:59] joelsdc commented on #206
Strange thing is, for *SURE* I have single-binary builds with the PID files in them! But I'm trying to reproduce again

[2018-08-10 21:59] jeevatkm commented on #206
@joelsdc If you identify any clue on this, please let me know.

[2018-08-13 19:31] joelsdc commented on #206
Hi @jeevatkm, I have not been able to reproduce. I'll pay attention to my next builds to see if it happens again and how I did it. Closing this one for now... Sorry for the noise.

[2018-08-13 19:31] #206 closed

[2018-08-13 20:53] jeevatkm commented on #206
@joelsdc Its not a noise. Its better to verify and confirm. Even when you're in doubt feel free to create an issue to clarify.

[2018-08-13 21:35] jeevatkm commented on #160
@vzool I have almost done with new router tree implementation. Its ready for testing.

Please follow the below steps to try new router and share your feedback.

* Go to `$GOPATH/src/aahframework.org/router.v0`
* Do `git pull --all && git checkout new-tree`

Now as usual you could proceed with your development actvities.

Pending/Progress things on my end -

* Already doing regression testing
* cle

[2018-08-15 16:05] jeevatkm commented on #160
@vzool ping 😄

[2018-08-16 08:29] vzool commented on #160
@jeevatkm pong

![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f604.png)

[2018-08-16 18:18] jeevatkm commented on #160
@vzool Did you get a chance to try it out?

[2018-08-17 16:08] jeevatkm opened #207 "Update Let's Encrypt Implementation"
Update :Let's encrypt implementation with reference to
https://community.letsencrypt.org/t/important-what-you-need-to-know-about-tls-sni-validation-issues/50811 and https://github.com/golang/go/issues/21890

and HTTP => HTTPS redirect server.

[2018-08-18 00:20] jeevatkm opened #208 "Fix redirect issue (www=>non-www, vice versa)"
Currently redirect feature introduced in the v0.11.0 is causing an request block. Fix and make a patch release.

[2018-08-18 05:28] #208 closed

[2018-08-18 05:28] #207 closed

[2018-08-18 20:03] jeevatkm opened #211 "Fix init.go file generate for aah v0.10.x and below"
This is fix init.go file generate issue.

**Cause:** In v0.11.0, aah template moved to AAHPATH. CLI is looking for `app-template` at previous location.

**Solution:** CLI should check AAHPATH first if not unavailable then fall back to previous location.

**Credit:** This bug was discovered by @joelsdc. He ran into this while upgrading his aah REST service application from `v0.7` to `v0.11.x`.

[2018-08-18 20:26] jeevatkm commented on #211
Done 😄

[2018-08-18 20:26] #211 closed

[2018-08-20 00:40] jeevatkm opened #212 "Add opt-in catch all route support in the router"
The goal is to add opt-in catch all route support in the router per domain.

* One catch all route per domain is allowed.
* Catch all is opt-in feature, `disabled` by default.
* If Catch all is not defined, existing flow applies i.e. 404 route not found

- [x] Implementation
     - aah user have to define section `catch_all { ... }` at domain level config in `routes.conf`
     - All the route conf

[2018-08-28 01:02] jeevatkm opened #213 "Fix route URL generation for single domain scenario"
The goal is to fix route URL generation for single domain. In `v0.11.0` hassle free configuration for non-dev profile #163 introduced, that brought this bug.

Current: `//localhost[:port]/[path]`

Expected: `//correctdomainname[:port]/[path]`

Workaround till this bug fix gets released; is to define domain mapping in `prod` profile (or in appropriate profile):

[code]

[2018-08-28 02:56] jeevatkm commented on #213
Fixed 😄

[2018-08-28 02:56] #213 closed

[2018-09-02 02:50] #160 closed

[2018-09-02 22:37] jeevatkm commented on #212
Done

[2018-09-02 22:37] #212 closed

[2018-10-02 10:31] vcraescu opened #215 "Hot reload does not detect changes"
Hi,

I'm using a docker image to fire up aah framework https://hub.docker.com/_/golang/ but hot reload not always detect the changes. This is my Dockerfile:

[code]

This is very frustrating and I can't figure out why is that happening.
Makes developing a cumbersome especially when I do some refactoring cause I don't know If I did broke something or just the old code running. I have to restart the

[2018-10-02 12:53] DiliBau commented on #215
👍 can confirm this happens to be both in a container and when running directly on my machine, same docker versions and same go versions as @vcraescu running on Manjaro linux

[2018-10-02 15:27] jeevatkm commented on #215
@vcraescu @DiliBau Thank you for reporting an issue. I will look into it.

Did you observed any pattern or behavior or steps around hotreload to replicate the issue?

Also could you share your holreloqd config from file aah.project?

[2018-10-02 17:51] vcraescu commented on #215
@jeevatkm This config?

[code]
I believe it's the default one.

I didn't notice a pattern, just sometimes it stops detecting the changes and I have to stop/start `aah run` to make it work.

[2018-10-02 18:37] jeevatkm commented on #215
Yes this is the config. Thanks.

Okay so it stops detecting changes after a while.

[2018-10-03 17:36] jeevatkm commented on #215
@vcraescu Update: Last night I was analyzing and trying to find the root cause. As of now no luck. One way I could think of is to update/optimize the file change detect logic in the aah CLI (upcoming release).

[2018-10-03 18:40] jeevatkm opened #216 "Add feature of on-demand Go profiling and easy to enable/disable in aah application"
The goal is to implement on-demand option of enable/disable Go profiling to application insights in the aah application.

- [x] Implementation
- [x] Integration
- [x] Documentation

Configuration:
[code]

[2018-10-04 04:39] vcraescu commented on #215
But did you manage to reproduce the issue? I switched to OSX and I can reproduce the issue there too.

[2018-10-04 06:33] vcraescu commented on #215
Thanks for taking time to fix this. 👍
I will wait 0.12 version.

[2018-10-04 08:18] vcraescu opened #217 "Support for partials"
It will be good to have support for partial templates. As far as I can, at this moment, you can only include templates from  "common" folder which is good but It's not enough in a large web application.

Need to be able to do something like this:

`{{ partial("users/form.html") }}`

Right now I'm just duplicating code because I don't want to put all the partials inside common folder since those te

[2018-10-04 09:41] AugustHell commented on #217
You can do this with template functions:
[https://docs.aahframework.org/v0.11/template-funcs.html#adding-your-custom-funcs-or-third-party-funcs](url)

A simple example by only adding a way to include html files:

./app/init.go
[code]

To use this, add to your template:
{{ Partials "./views/users/form.html" }}

Instead of writing an anonymous function in init.go like in this simple example, you can

[2018-10-04 09:45] vcraescu commented on #217
@AugustHell I know I can add a function to include partials, but this is a feature request because I believe it's an important feature for a web framework.

[2018-10-04 17:14] jeevatkm commented on #217
@vcraescu Thanks for bringing up use case, which would be beneficial to aah users.

@AugustHell Thanks for your inputs and helping aah community. I will take your inputs, generalize and add it aah view template functions in next release.

[2018-10-18 06:01] jeevatkm commented on #215
Applied fix as well as improvements.

[2018-10-18 06:01] #215 closed

[2018-10-20 08:43] jeevatkm opened #218 "Make aah app reload configuration Signal configurable and also propagate this event"
The goal is to make aah app reload/reinitialize signal configurable. Currently aah app listens to `SIGHUP` for reinitializing app without restart on `non-dev` env profile (it was implemented in #123).

However in real world usage aah user need this signal value configurable and defaults to `SIGHUP`. So that aah user can use the signal they want e.g. `SIGUSR1` and `SIGUSR2`.

Supported signals for

[2018-10-23 22:05] jeevatkm commented on #217
@vcraescu @AugustHell I was implementing partials template func then I thought following idea. Have a look and please let me know your thoughts.

Existing feature:

* func `include`  supports a tmpl include from `common` directory.
* Also it supports sub-tree within common directory too. Let's common directory has sub directory as `sample`.  E.g. `{{ include "sample/filename.html" . }}` .

Current

[2018-10-24 08:50] AugustHell commented on #217
I very much like this:

if the . dot is for passing by a data struct, its perfect.
Then I can use it for a hmvc like structure with components à la
"/components/form/newuser.html"

[2018-10-24 10:01] vcraescu commented on #217
@jeevatkm I don't think it's a good idea to support both absolute and relative paths because it's confusing. Only relative paths to project root should be allowed.

`{{ include "relative/path/to/file.html" }}  `

So only
`{{ include "views/users/form.html" . }} `
should be valid. This allows the flexibility to include any file from any folder.

[2018-10-24 15:47] jeevatkm commented on #217
@AugustHell Yes, `.` dot is for passing data to template.

@vcraescu Yeah idea is to have ability to `include` template from anywhere under `view/**` directory.
However I would like to mention why I thought of having root `/` approach - Directory `views` is the root directory for all view templates, typically it would make sense to call it as `/views/**`.

For e.g:
[code]

Also order of resolving

[2018-10-25 05:33] vcraescu commented on #217
@jeevatkm Makes sense what you're saying if your BC is your concern. It might be a good idea to have the imports relative to views folder and not to project dir. I have in mind some cases where this might be handy.

But
[code]
these 2 are a big NO-NO from my point of view. 2 different paths that does same thing. Too much "magic" which is error prone and hard to maintain in long term.

So, if you w

[2018-10-25 16:07] jeevatkm commented on #217
@vcraescu Yes, I agree. Since new feature would satisfy including a files from common directory too.

I think, I will deprecated the existing behavior of `include` in v0.12.0 (if I'm able to add auto migrate for view files, then safely I can remove the existing behavior too. Let's what I can do) and introduce new `include` behavior.

[2018-10-25 16:48] jeevatkm commented on #217
Done 😄

[2018-10-25 16:48] #217 closed

[2018-10-26 14:43] jeevatkm commented on #203
Done 😄

[2018-10-26 14:43] #203 closed

[2018-10-28 05:34] jeevatkm commented on #199
Going with directory name as `generated` at `<app-base-directory>/app/generated`. Since v0.12.0 release bring new module `cache`. Just on safer side and not to introduced confusion.

It will be imported on main file. Example -
[code]

This directory gets cleaned on every run, compile and build.

[2018-10-28 10:19] jeevatkm commented on #199
Done 😄

[2018-10-28 10:19] #199 closed

[2018-10-30 17:26] AugustHell opened #219 "Access Log: static files get logged always (or twice)"
#### What version of aah are you using (`aah --version`)?
v0.11.4

#### Does this issue reproduce with the latest release?
not tested

#### What operating system are you using (such as macOS, Linux and Windows)?
Linux

#### What did you do?
added configuration:
[code]

#### What did you expect to see?
No static files in the access logs

#### What did you see instead?
Log entries for static .css, .

[2018-10-30 18:55] jeevatkm commented on #219
@AugustHell Thanks for reporting it. I will look into it.

[2018-11-01 08:05] jeevatkm commented on #219
@AugustHell I have found the root for the issue. Access log called twice in the request life cycle and one of the call location does not have check for `server.access_log.static_file`.

I will apply fix in upcoming release `v0.12.0`. Thanks.

[2018-11-02 06:34] jeevatkm commented on #219
Done 😄

[2018-11-02 06:34] #219 closed

[2018-11-03 22:36] jeevatkm commented on #218
Done 😄

[2018-11-03 22:36] #218 closed

[2018-11-03 22:36] jeevatkm commented on #216
Done 😄

[2018-11-03 22:36] #216 closed

[2018-11-15 14:08] vzool commented on #198
This even could behave like a background Tasks/Jobs run by cron :heart_eyes:

[2018-11-17 05:30] jeevatkm commented on #198
@radutopala Here is the upcoming console commands documentation https://github.com/go-aah/docs/blob/v0.12-edge/console-commands.md

Could you have a look and let me know if you have questions?

[2018-11-17 05:30] jeevatkm commented on #198
Done 😄

[2018-11-17 05:30] #198 closed

[2018-11-17 07:36] radutopala commented on #198
@jeevatkm top notch, thx

[2018-11-20 04:01] jeevatkm commented on #200
Done 😄

[2018-11-20 04:01] #200 closed

[2018-12-02 00:06] rahmanme opened #220 "Getting started failed"
#### What version of aah are you using (`aah --version`)?
Latest version

#### Does this issue reproduce with the latest release?

#### What operating system are you using (such as macOS, Linux and Windows)?
macOS

#### What did you do?
go get -u aahframework.org/aah.v0

#### What did you expect to see?

#### What did you see instead?

...
aahframework.org/config.v0
# aahframework.org/config.v0
go

[2018-12-02 05:43] jeevatkm commented on #220
@rahmanme My bad, I'm working upcoming `v0.12.0` release. It will be out in day or two.

Could you please try now? it should be alright. Also delete your existing path `go/src/aahframework.org/**`.

[2018-12-02 09:43] jeevatkm commented on #220
@rahmanme I'm closing this one, please let me know the outcome.

[2018-12-02 09:43] #220 closed

[2018-12-04 10:05] vcraescu opened #223 "aah build --single - does not work correctly when the code is inside a folder named "app""
I have the code set up in /app folder.
When I run `aah build --single` I get the following errors:

[code]

If I move the code into a different folder with a different name != /app, everything will work as expected. It seems that I cannot build the application inside a folder named "app".

[2018-12-05 02:35] jeevatkm commented on #223
@vcraescu I have verified it. It seems if aah application base directory name is `app` then it fails with command `aah build --single` regardless of docker or not. Will update the issue subject and get to the root cause of it.

[2018-12-05 04:49] jeevatkm commented on #223
@vcraescu I have fixed the aah CLI issue and made a CLI release `v0.13.1`. Please go ahead and install CLI, you should be good.

Thank you for reporting an issue.

[2018-12-05 04:49] #223 closed

[2018-12-05 05:05] vcraescu commented on #223
Thanks!

[2018-12-10 10:12] jeevatkm opened #226 "External config file load issue in cmd run --config file"
External config file load issue in cmd run --config file, identified in aah `v0.12.1` while THUMBAI app testing.

Analyze and fix.

[2018-12-10 19:31] jeevatkm commented on #226
I have analyzed the issue found the root cause. Will fix and make a release.

Until then aah user needs to solve `v0.12.1` issue, simply add below line-

[code]

[2018-12-12 12:11] AugustHell commented on #160
Routing documentation along with some other topics is not available atm.
All of these links show a Not Found error:
(same for previous versions)
https://docs.aahframework.org/v0.12/routing.html
https://docs.aahframework.org/v0.12/routes-config.html
https://docs.aahframework.org/v0.12/request-parameters-auto-bind.html
https://docs.aahframework.org/v0.12/request-and-response.html

[2018-12-12 15:20] jeevatkm commented on #160
@AugustHell Thank you for reporting it. I will have a look.

[2018-12-12 15:23] jeevatkm opened #227 "aah documentation unavailable issue"
@AugustHell reported aah documentation is currently unavailable https://github.com/go-aah/aah/issues/160#issuecomment-446566420.

Investigate and fix it ASAP.

[2018-12-12 16:40] jeevatkm commented on #160
@AugustHell Now documentation is available, thanks again.

[2018-12-12 16:45] jeevatkm commented on #227
@AugustHell during an investigation of documentation issue, I have identified bug in the router. I will address and make a release. Thanks.

[2018-12-12 16:45] #227 closed

[2018-12-12 16:47] jeevatkm opened #228 "Identified a bug in router while investigating #227 issue"
I have identified a bug in the router while investigating #227 issue.

Fix and make a release ASAP.

[2018-12-13 07:45] jeevatkm commented on #226
Addressed in commit https://github.com/go-aah/forge/commit/dcd776030597742b3c302e4682398aa3c0ffb4f4

[2018-12-13 07:45] #226 closed

[2018-12-13 07:45] jeevatkm commented on #228
Bug fixed 😄

[2018-12-13 07:45] #228 closed

[2018-12-13 09:20] AugustHell commented on #160
Thank you for strenuous efforts!

[2018-12-16 07:13] jeevatkm opened #230 "Anti-CSRF - Expand the accepted referrers beyond the current host"
As of today aah Anti-CSRF security module only allows current host as accepted referrers. However real-world use needs further option to have list of trusted host/origins.

Added a configuration option for aah user so that they can provide list of trusted hosts-

[code]

- [x] Implementation
- [x] Documentation

[2018-12-17 07:11] jeevatkm opened #231 "Add write/persisting feature into aah configuration file format"
The goal is to added write/persisting configuration back to file system. In essence complete manipulation of aah configuration file format.

[2018-12-17 09:01] jeevatkm opened #232 "Redefine aah logging capabilities"
The goal is to make aah logging capabilities into true extendable and futuristic.

**Why isn't current logger is capable?**

Current logger is extensible and capable no doubt about it. Such as receivers, multiple format, log rotation, Hooks, etc.  However I'm envisioning to make it adaptable further.

**How does it make a difference?**

I'm aiming to make -

* `log.Logger` interface
* Log `target`

[2018-12-17 09:09] jeevatkm opened #233 "Encryption & Signature Key rotation for Cookie"
The goal is provide a configurable way to rotate Encryption and Signature Key for Cookie.

In a real world usage as part of **Security Compliance** in the organization requires to` Rotate keys` in a certain interval to reduce the attack vector on their applications.

As you know aah is security aware framework and will provide every possible way to make aah application is more secure.

- [x] Imple

[2018-12-17 09:11] jeevatkm opened #234 "Encryption & Signature Key rotation for Anti-CSRF"
The goal is provide a configurable way to rotate Encryption and Signature Key for Anti-CSRF.

In a real world usage as part of **Security Compliance** in the organization requires to` Rotate keys` in a certain interval to reduce the attack vector on their applications.

As you know aah is security aware framework and will provide every possible way to make aah application is more secure.

- [x] Im

[2018-12-17 20:10] jeevatkm commented on #152
I'm planning to take it further on aah anatomy configurable approach. Will update the spec once I have a design in place.

[2018-12-17 21:59] jeevatkm opened #235 "v0.13.0 Iteration Planning"
Hello aah community -

As you know `v0.12.0` was released on Dec 02, 2018 with new features and enhancements. I hope you're liking it 😄 Thank you for your support.

----

Let's move on to next phase of development iteration focusing on `v0.13.0`

As you know aah development is community driven; based on community votes, suggestions and recommendations. I would priorities it. Looking forward to you

[2018-12-18 14:50] AugustHell commented on #235
My favs are #2 aah anatomy configurable and #7 Anti-CSRF multihosts, but most of all the data access layer x)

[2018-12-18 14:58] joelsdc commented on #235
Just to add my input:

I agree on Data Access Layer, and I would add to the list a new feature to export metrics.

If we want aah to be so felixble and powerful, we will want to be sure that we have a way to know it’s performing as expected :)

[2018-12-18 17:22] ncross42 commented on #235
why don't you upload you project to "https://github.com/the-benchmarker/web-frameworks"

[2018-12-19 03:05] jeevatkm commented on #235
@AugustHell @joelsdc @radutopala Thank you for your inputs.

@ncross42 Thank you for your suggestion, I will do when I get a time. For now please refer to [Techempower benchmark - Round 17 - aah v0.11.4](https://www.techempower.com/benchmarks/#section=data-r17&hw=ph&test=fortune&l=zijocf-1)

[2018-12-19 11:33] AugustHell commented on #161
Over the past week I researched more about this topic, as I really need a better solution that are yet out there. My focus is a sql database (either cockroach with postgress driver or percona server with mysql driver), while keystores in memory like redis or bolt db are still in mind for heavy perfomance uses.

So here are some more thoughs for the data acess layer, i came accross:

**Transactions

[2018-12-19 21:54] jeevatkm commented on #161
@AugustHell Thank you for your inputs. I will utilize your insights while design and implementation.

[2019-01-06 18:04] radutopala opened #236 "Move stateless/stateful at each auth scheme level"
We should be able to set stateless / stateful on each auth scheme independently, because an app may have 2 or more auth schemes, for example jwt/generic with stateless and form with stateful.

Current solution from @jeevatkm: achieve the stateless via interceptor (https://docs.aahframework.org/interceptors.html) - define action or controller level `Finally` interceptor and then call `ctx.Session()

[2019-01-09 10:53] vcraescu opened #237 "I18n.Lookup return value"
Lookup function should return the key value if there's no translation for that key. Much easier to debug and there are cases when you need that where you pass a string to that method which is a translation key or just need to print it. There's no way to check if a translation key is valid or not.

- [x] Implementation
- [x] Documentation

[2019-01-09 15:41] jeevatkm commented on #237
@vcraescu Currently function returns empty string and logs key not found as a warning.

https://github.com/go-aah/aah/blob/0bb36e017ede1b452eb1aa8c256bd5a7860b2563/i18n/i18n.go#L149-L151

I thought log message would be enough for key not found cases. Seems like its not.

I have a question for you: just a key should be returned or key with some wrapped value. e.g.: `???key.not.found???`

[2019-01-09 16:13] vcraescu commented on #237
@jeevatkm  Key should be enough. That's how most of the translators are implemented at least in PHP world :smile:

Is very helpful when you need to display a text  but you don't know if it's a translation key or just a value. There are cases when you would put a translation key into a db field (fast translatable entities :smile:) and sometimes you just need to display the value as it is. If the tr

[2019-01-09 17:11] jeevatkm commented on #237
@vcraescu understood 😄

[2019-01-10 09:48] jeevatkm opened #239 "Bring i18n interface"
The goal is to bring i18n interface so that it can be extended.

[code]

- [x] Implementation
- [x] Documentation

[2019-01-11 08:04] vcraescu opened #240 "Automatic validation"
The entire entity validation logic should be reimplemented. I believe it's wrong how it works now because it makes almost impossible to use it at all. See the following scenario.

**Controller**
[code]
This request will always fail even it is just a GET request and `frm` is supposed to be zero because nothing was submitted yet. Even If i remove any validation tags from `forms.MyForm` and put them

[2019-01-11 18:33] jeevatkm commented on #230
Its done 😄

[2019-01-11 18:33] #230 closed

[2019-01-11 18:37] jeevatkm commented on #239
Its done 😄

[2019-01-11 18:37] #239 closed

[2019-01-11 18:37] jeevatkm commented on #237
Its done 😄

[2019-01-11 18:37] #237 closed

[2019-01-11 23:14] jeevatkm commented on #240
@vcraescu Thanks for reporting an issue.

The scenario you have described, its seems you're having using same controller action for `GET` and `POST` multiple verbs. That could be a reason you could have faced a challenge with auto validation follow.

Begin said that, I'm sorry, you had to spend time much around this one. I'm disappointed since one of the goal of `aah` is to have features for aah u

[2019-01-12 06:31] jeevatkm commented on #237
@vcraescu You're welcome. You could try the implementation and please share your feedback.

Add to go.mod
[code]

[2019-01-12 07:09] vcraescu commented on #240
@jeevatkm Yes, I'm using multiple verbs for an action. The app we're building right now It's just a prototype and we just render ol' school html. No REST, just plain html.

I'm not big fan of having a different method for validation because inside Action method you might have some logic to render the current action. Things which you will put into aah.Data object and pass it to the view. You usuall

[2019-01-12 07:16] jeevatkm commented on #240
@vcraescu Sounds good to me. Once its ready I will ping you, so that you could try it out and share feedback.

[2019-01-12 09:08] jeevatkm opened #242 "Add SameSite cookie attribute support"
The goal this issue to add `SameSite` cookie attribute support.

Refer to https://tools.ietf.org/html/draft-ietf-httpbis-cookie-same-site-00

- [x] Implementation
- [x] Documentation

[2019-01-15 07:49] jeevatkm commented on #242
Its done 😄

[2019-01-15 07:49] #242 closed

[2019-01-15 07:50] jeevatkm commented on #234
Its done 😄

[2019-01-15 07:50] #234 closed

[2019-01-15 07:50] jeevatkm commented on #233
Its done 😄

[2019-01-15 07:50] #233 closed

[2019-01-16 06:33] radutopala opened #244 "Envprofile auto-set in all console commands"
Envprofile should be transmitted automatically, somehow, to all Console commands.

This way we can avoid adding
[code]
to every command.

The commands are part of the built binary, so it makes sense to have the envprofile in all commands as well.

A solution would be to append the EnvProfile StringFlag to Flags, when the command is added in init.

[2019-01-17 07:14] jeevatkm commented on #244
@radutopala Thanks for bringing up the suggestion for framework improvements.

I understand your proposed solution to add `envprofile` flag to all the commands implicitly. I'm wondering, does every command will be in the need of this flag? How to disable/remove this flag from particular command if aah user don't want it on the command?

I will do my homework and get back to you.

[2019-01-17 15:59] jeevatkm commented on #244
@radutopala I think, solution could be having a config to add `envprofile` flag into commands.

[code]

Please have a look and let me know. I will schedule it for `v0.13.0` release.

[2019-01-17 16:23] radutopala commented on #244
@jeevatkm And these config defined flags will be auto-set also in the root command?

Even so, I don't think it's really necessary to have this level of abstraction. You would then need to be able to set different params in this configs entry for each flag, which I think should be done in code instead.

`envprofile` is already set in the root command by default. And the root's subcommands should ha

[2019-01-17 16:37] jeevatkm commented on #244
@radutopala Okay, lets start with simple design and could be improvised in the future.

Solution is -

Add `envprofile` flag into command when aah user register into application via `aah.App().AddCommand(...)`. Initialize the app configuration based on the flag input and make available to the command.

[2019-01-18 07:14] radutopala opened #245 "Exclude subfolders on building single"
We need to be able to exclude subfolders on `build --single`.

Right now, if specified like this: `"./ui/public/*", "./ui/src/*", "./ui/test/*"`, they will still appear in `vfs find`.

[2019-01-30 02:04] jeevatkm opened #246 "Update bytes.Buffer to strings.Builder for string scenario's across"
The goal is to update the `bytes.Buffer` implementation to `strings.Builder` wherever string compose scenario applies. Perform across the framework.

[2019-01-31 05:10] jeevatkm opened #247 "Add precedence to de-facto headers X-Forwarded-Host, X-Forwarded-Port"
The goal of this issue to give precedence to de-facto standard header `X-Forwarded-Host` & `X-Forwarded-Port` for retrieving `Host` value like we did for processing [Scheme](https://github.com/go-aah/aah/blob/8c6544f490985150050c8dbb07e236a121c1444b/ahttp/ahttp.go#L111) and [ClientIP](https://github.com/go-aah/aah/blob/8c6544f490985150050c8dbb07e236a121c1444b/ahttp/ahttp.go#L145).

References:
htt

[2019-02-06 17:10] jeevatkm commented on #247
Its done 😄

[2019-02-06 17:10] #247 closed

[2019-02-06 17:11] jeevatkm commented on #246
Its done 😄

[2019-02-06 17:11] #246 closed

[2019-02-06 22:20] adrianlop opened #248 "Methods are not discovered and not registered from controller struct properly"
#### What version of aah are you using (`aah --version`)?
aah v0.12.2
cli v0.13.3
go  v1.11.5

#### Does this issue reproduce with the latest release?
yes

#### What operating system are you using (such as macOS, Linux and Windows)?
MacOS X

#### What did you do?

aah build

#### What did you expect to see?

successful build + being able to implement several methods for the same controller struct

[2019-02-07 06:31] jeevatkm commented on #248
@adrianlop Found the root issue why it was unable discover the method from controller struct.

I have reviewed you code and also aah AST flow. When Package files gets processed by aah AST code. There are no guaranteed order in the file processing for `type & method` since its type `map[string]*File`.

https://github.com/go-aah/aah/blob/8c41d00bc5289cdfb0f97b0023eefa24ee754172/ainsp/program.go#L90-

[2019-02-07 07:10] jeevatkm commented on #248
I have made a release `v0.12.3`.

[2019-02-07 07:10] #248 closed

[2019-02-07 13:37] adrianlop commented on #248
just updated the framework and the cli. it's working :)
great stuff @jeevatkm, thank you very much for fixing this!

[2019-02-19 06:05] jeevatkm commented on #245
@radutopala I would like to understand directory structure for the project. Could you share some `tree` structure view?

_PS: If you would like to share via slack DM is also okay for confidentiality, I would like to learn some sample tree if possible_

[2019-02-19 06:12] jeevatkm commented on #245
@radutopala Just to give you an insight into current implementation.

aah CLI takes file `base` name from walk func and does the `filepath.Match` call for excludes. That's why your above definition didn't work.

[2019-02-19 15:12] radutopala commented on #245
@jeevatkm well, I did a workaround for now and I wasn't required to have this deep subfolders exclusion after all.
But it would be nice to have this feature in the framework itself, to be able to exclude subfolders like "<root>/ui/tests" OR full file paths "<root>/ui/config/conf.dist".

[2019-02-19 19:27] jeevatkm commented on #245
@radutopala Thanks for your the input.

[2019-02-25 19:30] mdisrail2468 opened #250 "Audit wiki Permissions"
Ensure all repos that have a wiki enabled, have it locked down to those with write access.

[2019-02-27 07:26] jeevatkm commented on #250
@mdisrail2468 Thanks for creating an issue. Sure I will do the auditing.

[2019-03-12 11:21] adrianlop opened #251 "Override config not working for a single aah binary"
#### What version of aah are you using (`aah --version`)?
cli v0.13.4
go  v1.12

#### Does this issue reproduce with the latest release?
yes

#### What operating system are you using (such as macOS, Linux and Windows)?
MacOS and Linux

#### What did you do?
`aah build -s`

#### What did you expect to see?
Override the config with `./aah-app run -c configfile.conf`

#### What did you see instead?
V

[2019-03-12 22:36] frederikhors opened #252 "Docs issue in "Getting started"."
Docs issue in "Getting started":

![image](https://user-images.githubusercontent.com/41120635/54240859-981f4680-451f-11e9-846b-db80080c7d70.png)

[2019-03-13 06:39] jeevatkm commented on #252
@frederikhors Thank you for reporting it. I will update the document. It seems like `asciinema.org` user account issue.

[2019-03-13 21:31] jeevatkm commented on #252
@frederikhors I have addressed the Docs issue, could you please check it?

[2019-03-13 22:18] frederikhors commented on #252
@jeevatkm amazing!

You product is awesome! Really! What scares me and stops me for a go-live system with aah for large projects is the low diffusion (at least apparent) and the few contributors (ie only you practically).

[2019-03-14 05:48] jeevatkm commented on #252
@frederikhors I understand what you mean. aah's first public release happened in May 2017, since then it gradually growing, features are getting added and maturing. So far many users are using also I'm getting valuable feedback, feature requests, etc and aah has good coverage of documentation and examples.

I strongly believe aah will gain its name and users over a period of time. Maybe you could

[2019-03-14 05:48] #252 closed

[2019-03-28 07:29] joelsdc opened #253 "Error running aah cli 'build' on certain projects after upgrading go1.11 to 1.12"
#### What version of aah are you using (`aah --version`)?

[code]

#### Does this issue reproduce with the latest release?

Yes

#### What operating system are you using (such as macOS, Linux and Windows)?

macOS Mojave

#### What did you do?

Build a static binary of my project

#### What did you expect to see?

The single binary built ;)

#### What did you see instead?

A build error

#### Addit

[2019-03-28 07:42] joelsdc commented on #253
# Steps to reproduce:

AFAIR:

1. Have go1.11.latest installed.
2. Install aah
3. Builds you project
4. Update to go1.12.1
5. Build your project again <-- here it failed.
6. Reinstall aah
7. Build again <-- this one works.

[2019-03-30 05:23] jeevatkm commented on #253
@joelsdc Thanks for reporting an issue.

[2019-03-30 06:27] jeevatkm opened #254 "Add pluggable component for health check feature"
The goal is to create a pluggable component for health check feature in aah.

Goals:
- Fundamentally application must have flexible health check implementation
- Also for cloud native - Kubernetes [Liveness and Readiness probes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/)

Design:

* Create a go library
   - Repo: https://github.com/go-aah/ec-heal

[2019-03-30 18:56] jeevatkm commented on #254
@adrianlop welcome 😄

[2019-04-01 14:43] adrianlop commented on #254
I just pushed a basic PR here: https://github.com/go-aah/ec-healthcheck-provider/pull/1/files

let's discuss and review in there if you like!
cheers @jeevatkm

[2019-04-03 20:32] jeevatkm commented on #254
@adrianlop I have added Go vanity for `aahframe.work/ec/health` so available to use for try/test https://godoc.org/aahframe.work/ec/health

Until official release, please do `go get aahframe.work/ec/health@master`  in your application to test/use it will update your `go.mod` with latest version of library every time you run it.

[2019-04-11 23:10] adrianlop opened #255 "Expose an aah TestServer for aah users to thoroughly test aah applications"
hi @jeevatkm,
it might be nice to have a package in aah with testing tools/functions, for example to initialize an aah server/app so the aah users are able to test controller methods, etc

[2019-05-09 01:10] joelsdc commented on #253
Hi @jeevatkm, I think we can summarize that you have to rebuild the `cli` after every go version upgrade.

Is there any way around this?

[2019-05-15 08:09] jeevatkm commented on #245
It's done 😄

[2019-05-15 08:09] #245 closed

[2019-05-15 08:11] jeevatkm commented on #250
Manually checked, closing it. Thanks.

[2019-05-15 08:11] #250 closed

[2019-06-26 08:58] goku321 commented on #244
Can I take this up?

[2019-06-26 17:43] jeevatkm commented on #244
@goku321 yeah, you're welcome. Give it try, as you will be learning the framework internals. It would provide good path for your future contributions too.

[2019-06-27 04:19] goku321 commented on #244
Thanks @jeevatkm :)

[2019-06-28 17:59] joelsdc opened #258 "Routes behavior with&without a root (/) route is inconsistent"
#### What version of aah are you using (`aah --version`)?

v0.12.3

#### Does this issue reproduce with the latest release?

Yes

#### What operating system are you using (such as macOS, Linux and Windows)?

macOS (haven't verified the bug on other platforms)

#### What did you do?

Create a simple service that has only one route not directly under the root path.

Example `routes.conf`:
[code]

##

[2019-06-28 18:13] joelsdc opened #259 "Route param 'redirect_trailing_slash' can create redirect loop"
#### What version of aah are you using (`aah --version`)?

v0.12.3

#### Does this issue reproduce with the latest release?

Yes.

#### What operating system are you using (such as macOS, Linux and Windows)?

macOS (haven't verified on other systems)

#### What did you do?

1. Create a simple service, with a subroute (/something/:xxx)

Example routes.conf:
[code]
2. Routes.conf `redirect_trailing_

[2019-06-28 19:02] joelsdc opened #260 "Possibility to return a 5XX response code from the authc&authz phases."
#### Is your feature request related to a problem? Please describe.

We use custom generic authentication and have configured our `Authc` and `Authz` providers.

Part of the authc/authz process requires validating information with subsequent services. If any of the required subservices are down, we can't return a 5XX code.

#### Describe the solution you would like

Possibility to return a 5XX res

[2019-06-29 19:46] jeevatkm commented on #258
@joelsdc I have read your details bug report. Thank you for explaining in detail.

I feel this is bug in the router when route `/` is not defined. Need investigation and fix!

[2019-06-29 19:52] jeevatkm commented on #259
@joelsdc This is expected behavior in redirect trailing slash feature.

* When requested with `http://localhost:8080/test/` sending to `http://localhost:8080/test`
* When requested with `http://localhost:8080/test` sending to `http://localhost:8080/test/`

 However, as described above it shouldn't do loop. Looping seems bug, need investigation and fix.

[2019-06-29 20:00] jeevatkm commented on #260
@joelsdc Thanks for initiating an enhancements into auth{c,z} module. The best option is to add new errors as you suggested and handle that error appropriately within security module.

I saw you PR #257 for authentication token with custom values, I guess you could add this enhancements into same PR. If it's okay with you.

Thank you for the PR 😄

[2019-07-18 16:55] jeevatkm commented on #244
@goku321 how are you doing? Thought to check with you, I hope you’re learning and progressing. Please let me know if you need any assistance.

[2019-07-18 18:05] goku321 commented on #244
@jeevatkm Thanks for checking on me. In the excitement I took up a lot of open source tickets in parallel and that's why there's a delay from my end. I am clearing the backlog one by one. Give me a couple of days to get back on this. I am really interested and looking forward to contribute to this framework. Thanks for your patience.

[2019-07-22 17:48] goku321 commented on #244
Hi @jeevatkm I have a question: Do I need to add `envprofile` flag within `initCli` method inside `commands.go` just like `help` flag?

[2019-07-30 04:20] arpodungge opened #261 "invalid memory address or nil pointer dereference when registering centralized error handler"
Using aah v0.12.3

I'm creating a new api project with `aah new`
I've found an issue when i try to create centralized error handler by creating `AppErrorHandler` function and register it in `init.go` by following the instruction from
https://docs.aahframework.org/v0.12/error-handling.html#registering-centralized-error-handler

[code]

[code]
an ***error*** occurred when i run it with `aah run` :

[2019-07-31 08:38] jeevatkm commented on #261
@arpodungge It seems I need to update the documentation. Please use `OnStart` event, update your code to

[code]

[2019-09-22 18:11] jeevatkm commented on #261
I'm closing this one. Please let me know.

[2019-09-22 18:11] #261 closed

[2019-09-22 18:14] jeevatkm commented on #260
Addressed by PR #257

[2019-09-22 18:14] #260 closed

[2019-09-23 06:21] jeevatkm opened #262 "Notification to aah users :)"
Hello aah users -

Thank you for using aah framework.

I want to keep you informed about the upcoming aah directions and goals. Also, I would like to convey my apologies for the unexpected in-activeness that happened in aah development due to my day work priorities and commitments.

I want to bring the following improvements and changes in aah framework direction.

* Performing foundation level im

[2019-09-23 08:51] radutopala commented on #262
Sounds awesome :)

- Radu Topala, Trisoft

On Mon, Sep 23, 2019, 09:21 Jeevanandam M. <notifications@github.com> wrote:

[2019-10-09 21:51] jeevatkm commented on #244
@goku321  I'm sorry for the delayed response.  As I have communicated in #262, i"m trying to release v0.13.0 version as soon as possible and work on v0.14.0 revamping aah framework design.

So I have implemented this option. Thank you for help and looking forward to your further participations.

[2019-10-09 22:17] #244 closed

[2019-10-10 02:26] jeevatkm commented on #251
@adrianlop I hope you're doing well.  I'm trying to wrap up the v0.13.0 release. Did a fixes and enhancements.  Then I will be moving on to aah revamp on v0.14.0

Can you please validate this issue against the branch `wrapping-v0.13.0` and let me know?

[2019-10-10 03:05] jeevatkm commented on #258
@joelsdc I hope you're doing well. I'm trying to wrap up the v0.13.0 release. Did fixes and enhancements. Then I will be moving on to aah revamp on v0.14.0

Can you please validate this issue against the branch `wrapping-v0.13.0` and let me know?

[2019-10-10 03:05] jeevatkm commented on #259
@joelsdc I hope you're doing well. I'm trying to wrap up the v0.13.0 release. Did fixes and enhancements. Then I will be moving on to aah revamp on v0.14.0

Can you please validate this issue against the branch `wrapping-v0.13.0` and let me know?

[2019-10-12 08:09] #251 closed

[2019-10-12 08:09] #258 closed

[2019-10-12 08:09] #259 closed

[2020-02-04 06:42] vcraescu opened #265 "Flash message are not deleted"
#### What version of aah are you using (`aah --version`)?
aah v0.12.2
cli v0.13.4
go  v1.13.7

#### Does this issue reproduce with the latest release?
I did not try yet.

#### What operating system are you using (such as macOS, Linux and Windows)?
macOS

#### What did you do?

In controller:
[code]

In view:
[code]

#### What did you expect to see?
I expect to get the flash message only once but I

[2020-02-04 11:20] vcraescu commented on #265
https://github.com/go-aah/aah/blob/3374b69984a054a3f83776851e8c09aa7b9e76a9/http_engine.go#L314

Apparently the session is saved before template is actually rendered. That's why the flash message  is retained.

[2020-02-04 11:31] vcraescu commented on #265
Managed to mitigate this issue using a PostReply subscriber:
[code]

[2020-02-09 06:42] jeevatkm commented on #265
@vcraescu Thanks for reporting an issue. I will have a look and address the issue.

[2020-02-09 07:03] vcraescu commented on #265
thanks!

[2020-02-15 15:55] joelsdc commented on #262
Hi @jeevatkm, how's the development going? Any updates on next releases?

[2020-02-16 07:24] vcraescu commented on #265
@jeevatkm any news?

[2020-03-03 03:35] snyff opened #266 "Vulnerability"
#### What version of aah are you using (`aah --version`)?
aah v0.12.3
cli v0.13.4
go  v1.13.8

#### Does this issue reproduce with the latest release?
I believe so

#### What operating system are you using (such as macOS, Linux and Windows)?
Linux

#### What did you do?
I found a way to get access to data I shouldn't get access to.

#### What did you expect to see?
An error message

#### What did

[2020-03-03 05:20] jeevatkm commented on #266
@snyff Thank you for reaching out, appreciated. Can you please send details to `security@aahframework.org`?

[2020-03-03 05:59] snyff commented on #266
Sent!

[2020-03-03 06:03] jeevatkm commented on #266
Thank you @snyff, I will check it.

[2020-03-03 10:08] jeevatkm commented on #266
@snyff Issue has been addressed and made a release.

[2020-03-03 10:08] #266 closed

[2020-11-10 21:56] gitmko0 opened #271 "Regarding DDoS code section"
hi possible to provide code section of the ddos? i may have code to contribute.
great work by the way.

[2021-01-31 16:23] sagadsalem opened #272 "Support Go Mod"
hi
I get a new aah project instance and run go mod init to add Go Module to the project after I run aah run
I get
[code]

[2021-02-11 21:42] jeevatkm commented on #272
@sagadsalem Thanks for reaching out. I need to check it. I will let you know.

[2021-04-28 21:54] Swivelgames commented on #262
@joelsdc I was wondering the same... :grimacing:

[2021-12-17 02:10] joelsdc opened #273 "FATAL: go build: -i flag is deprecated / undefined: models"
#### What version of aah are you using (`aah --version`)?

[code]

#### Does this issue reproduce with the latest release?

Yes

#### What operating system are you using (such as macOS, Linux and Windows)?

macOS

#### What did you do?

`$ aah r`

#### What did you expect to see?

My application build and run

#### What did you see instead?

[code]

[2022-02-14 05:37] vulcangz commented on #273
My blind guess is that `models` can't be exported and the first letter has to be capitalized.

[2022-07-31 22:58] jeevatkm opened #274 "Address compile issue and make it work :)"

[2022-08-01 00:14] jeevatkm commented on #274
CLI is addressed

[2022-08-01 00:14] #274 closed, assigned to jeevatkm

[2022-08-01 01:18] joelsdc commented on #273
With the latest updates with aah CLI and go version (in my case, go v1.18) this no longer happens.

Thanks!

[2022-08-01 01:18] #273 closed, assigned to nobody